[2016-03-17 02:19] MeepyMay opened #1 "PCSA Web Prototype"
[PCSA Web basic prototype.pdf](https://github.com/systers/PCSA-web/files/177166/PCSA.Web.basic.prototype.pdf)

[2016-03-17 10:55] AkankshaBodhankar commented on #1
@MeepyMay  Has the webapp include the reuirements given in this
https://github.com/systers/PCSA-Android/issues/49

[2016-03-18 03:22] MeepyMay commented on #1
Yes @AkankshaBodhankar

The Web App should show the same content and design as the mobile apps.

[2016-03-18 17:19] PrabhanshuAttri commented on #1
@MeepyMay Hey which language/framework are you looking for?

[2016-03-23 11:27] fatimarafiqui opened #2 "Auto Detect Location using mobile network."
The mobile application can automatically detect the location after the launch  with the help of network connectivity, with or without gps. In case the the location is not Uganda, Syria or Tunisia the location, the user will be asked for their location.

[2016-03-23 11:28] #2 closed

[2016-03-24 13:55] PrabhanshuAttri opened #3 "PCSA Web: Proposed UI"
I am designed a mockup and created a login page ( [Dummy Login Page](http://prabhanshu.com/gsoc/systers/) )
 to show how material UI can improvise the user experience and subsequently contribute to the success of this project.

[PCSAFirstAide-ProposedUI.pdf](https://github.com/systers/PCSA-web/files/187958/PCSAFirstAide-ProposedUI.pdf)

[2016-05-12 17:24] AkankshaBodhankar opened #4 "Initial Prototype"
This is a initial mockup for the project. Feel free to give suggestions. Thank you
[mockup PCSA initial.pdf](https://github.com/systers/PCSA-web/files/261908/mockup.PCSA.initial.pdf)

[2016-05-12 17:35] AkankshaBodhankar opened #5 "Change project title to 'First Aide' and add initial readme"
As it will be 'first aide' for web-app, the name of the project can also be changed. (or will it be the same for users to understand)

Also, a readme can be added for a quick summary regarding the project

[2016-05-25 16:24] MeepyMay commented on #4
[mockup initial.pdf](https://github.com/systers/PCSA-web/files/282412/mockup.initial.pdf)
[diagrams PCSA.pdf](https://github.com/systers/PCSA-web/files/282416/diagrams.PCSA.pdf)

[2016-05-25 22:06] choquette33 commented on #4
@AkankshaBodhankar - Nice progress! I found the diagrams easy to follow and understand.

Initial Log-in :  It will be difficult for volunteers to enter their PCVID number, since it is not something that they commonly use or know off the top of their head. With other applications we bulk uploaded a list of users with their emails. This sends them a "welcome email" that includes a token for setting

[2016-05-27 04:11] AkankshaBodhankar commented on #4
Hi,
Hope  you are doing well!
Thanks for clearing the  doubts. Found the repository 'Bon voyage' really
helpful.
Regards,
Akanksha
On Thursday, May 26, 2016, Patrick <notifications@github.com> wrote:

[2016-05-31 12:13] AkankshaBodhankar commented on #4
@choquette33 @MeepyMay
there is a registration page in the initial prototype document mentioned above where the name and password can be taken from the volunteer via the application and the volunteer can sign in using those credentials. A verification email will be sent to the volunteers personal email to confirm. Something similar to facebook where registration is done and then those credentials

[2016-05-31 14:25] AkankshaBodhankar commented on #5
@MeepyMay Should I create a PR for the same

[2016-07-30 03:32] AkankshaBodhankar opened #7 "Requirement for feature 'User Persona'"
User persona is a new feature and there is no mention of it in the PCSA mobile apps. There is just one mockup in the initial prototype posted by @MeepyMay. However, the ambiguity still exists as the mobile ans web apps must be in sync and there is no such requirement in mobile apps.
@MeepyMay Do we need to implement this feature? And if yes, then what are the specific requirements ? Do they want a

[2016-08-15 07:35] #5 closed

[2016-08-30 03:08] #4 closed

[2016-08-30 03:08] #3 closed

[2016-08-31 04:58] AkankshaBodhankar opened #10 "Change PC Saves Hotline number to +1..."
Currently the number that is dialed goes to 001408... which doesn't seem to work. Probably best to use the +1408...

[2016-08-31 04:58] AkankshaBodhankar opened #11 "List of Countries Incomplete"
In the current .apk only Uganda, Tunisia, and Syria are available

The app should be updated with the list of countries and current contact information from the spreadsheet: https://docs.google.com/spreadsheets/d/1frBRKGuSTuTLIk3K99bqd6SbE4VpMew4gUS7m7Dvc0w/edit#gid=0

[2016-08-31 05:05] AkankshaBodhankar commented on #10
solved in the PR #12

[2016-08-31 05:05] #10 closed

[2016-09-11 06:34] AkankshaBodhankar opened #13 "Add icons (call and message) to all the dialogs"
Add these two icons as in mockup. Currently, only text is displayed (Voice call and Send message) not the icons

![get help now 2](https://cloud.githubusercontent.com/assets/14356938/18415659/c608808e-7817-11e6-87b4-8aa81f36b778.png)

[2016-10-04 06:42] goti921 commented on #11
@AkankshaBodhankar
I would like to contribute.

[2016-10-05 11:59] AkankshaBodhankar commented on #11
That's great! This is an issue which requires a lot of manipulation with the database and code. You can start contributing by solving #13

[2016-10-17 19:02] #1 closed

[2016-10-24 18:02] pandilladivya commented on #13
@AkankshaBodhankar, I would like to work on this issue.

Please allow me to do so.

Thank You! :)

[2016-10-26 13:23] AkankshaBodhankar opened #16 "Add source code comments"

[2016-10-26 13:35] AkankshaBodhankar commented on #13
@pandilladivya Sure you can fix this. Make sure you add icons in all the dialogs. There are dislogs in different modules

[2016-10-26 13:40] #16 closed

[2016-10-27 15:57] pandilladivya commented on #13
@AkankshaBodhankar

Kindly review #17

Thanks!

[2016-11-02 19:49] pandilladivya commented on #13
kindly review #19

Thank You :)

[2016-11-17 12:16] AkankshaBodhankar opened #20 "Change font to Avenir Next"
Change font to Avenir Next, with "regular" as the main weight for content while "bold" used for buttons. (An alternative is Lato if we can't find a free one (https://www.google.com/fonts/specimen/Lato)

[2016-11-17 12:44] AkankshaBodhankar opened #21 "Validation and strength checker for password"
During registration add a password strength checker and add validation.
For example,
The password should have minimum 8 characters. Display appropriate message to the right of the textbox alerting the user
A password strength checker something like this:

![ajax-password-strength-meter-script](https://cloud.githubusercontent.com/assets/14356938/20389820/9621842e-acf1-11e6-8d1b-f72ae84d30b5.gif)

[2016-11-17 12:47] AkankshaBodhankar opened #22 "Add comments to the css files"
**Pick only one file at a time.**
This is a beginner task. You can claim one css file and start working on it
Make sure the format you use while adding comments is according to this
https://perishablepress.com/obsessive-css-code-formatting-organization-comments-and-signatures/

[2016-11-18 18:32] AkankshaBodhankar opened #23 "Validating comrade numbers"
The comrade numbers is accepting any length of digits and also there is no validation on correct format of phone number
On hold according to discussion in
[https://github.com/systers/PCSA-Android/issues/84](url)

[2016-11-21 16:34] fatimarafiqui commented on #20
Can I take this issue?

[2016-11-22 13:37] AkankshaBodhankar commented on #20
This issue is currently assigned for Google code- in 2016. You can pick
other issues which do not have the gci label. If you are participating in
gci then claim it there

On Monday, November 21, 2016, Fatima Rafiqui <notifications@github.com>
wrote:

[2016-11-22 16:53] fatimarafiqui opened #24 "Deployment of Web App on the Server."
The web app is not deployed anywhere for a live demo. When a new user visits, the person needs to download the zip or clone the repository and run it on local host, which makes it cumbersome. Deployment on a web server will ease the access and anyone can keep a track of implemented modules easily. @AkankshaBodhankar

[2016-11-22 17:33] AkankshaBodhankar commented on #24
@fatimarafiqui  Thank you for mentioning about it !There is a deployed version of this web app.
However, the database hasn't been integrated due few reasons and it's still in progress that's why we have not made it public yet.

[2016-11-22 17:33] #24 closed

[2016-11-22 17:35] AkankshaBodhankar opened #25 "Change icons in circle of trust"
The icons need to be updated in the circle of trust. The images to be used will be selected soon.

[2016-11-22 18:10] AkankshaBodhankar commented on #22
You can claim any css file except sweetalert.css

[2016-11-22 18:35] AkankshaBodhankar opened #26 "Add country code dropbox in the edit page of circle of trust"

[2016-11-22 23:48] PrabhanshuAttri commented on #3
User Interface is still very basic, gives a feel of a dummy website while a lot of work has been done. Someone can enhance the UI. Let me know if you need my help. @rosariorobinson @MeepyMay

[2016-11-23 04:23] AkankshaBodhankar commented on #3
The user interface has been made according to the PCSA Android. Huge modification in the design is not possible. However if you can suggest basic changes feel free to add an issue and we will let you know if that works. Thank you !

[2016-11-23 05:32] AkankshaBodhankar commented on #5
Resolved

[2016-11-29 05:29] rahulbisht12 commented on #22
Hi, I am taking loginAndRegistration.css file to add comments on it.

[2016-11-29 07:04] AkankshaBodhankar commented on #22
@rahulbisht12 Sure you can go ahead

[2016-11-29 11:41] pgadige commented on #22
I'd want to claim menu-css.css file to add comments

[2016-11-29 12:13] AkankshaBodhankar commented on #22
@pgadige Sure. Follow the conventions mentioned in the above link.

[2016-11-29 13:27] rahulbisht12 commented on #20
Hi, Can I use this font http://www.cufonfonts.com/en/font/13217/avenir-next-lt-pro

[2016-11-29 14:06] AkankshaBodhankar commented on #20
@rahulbisht12 Sure! You can use it

[2016-11-30 12:47] goelsnigdha commented on #20
What is the name of the ZIP file which I am required to download for this task?

[2016-11-30 13:35] AkankshaBodhankar commented on #20
You have to download this project. You will find a download Zip at the
right top side of the code

On Wednesday, November 30, 2016, goelsnigdha <notifications@github.com>
wrote:

[2016-12-01 04:24] rahulbisht12 commented on #21
Is anyone working on this issue ?

[2016-12-01 05:26] AkankshaBodhankar commented on #21
No your cab claim.it on gci

[2016-12-01 14:59] j-shubh commented on #20
I have downloaded the font locally  how to store it should i put it in css file

[2016-12-01 18:07] AkankshaBodhankar commented on #20
Yes ! Use it in the css files. You will find tutorials online on how yo use
fonts.

On Thursday, December 1, 2016, j-shubh <notifications@github.com> wrote:

[2016-12-02 10:29] rahulbisht12 opened #42 "Making application Responsive"
It would be great if we can make the application responsive for mobile devices also.

![p4](https://cloud.githubusercontent.com/assets/16523310/20830682/b3f923c8-b8a7-11e6-9a0d-828d4e0cf60d.png)

# Fixes
We can do it in 2 ways

- Add the third party libraries like bootstrap, Material design lite etc. This will require a lot of changes to be done in our part i.e in css and php files. [Easy to manag

[2016-12-02 15:59] keshashah commented on #42
Would you like to fix it? I can add it in GCI tasks :)

[2016-12-02 16:23] AkankshaBodhankar commented on #42
Yes this had to be done! Will get back to you if issue is up for solving immediately

[2016-12-03 04:34] rahulbisht12 commented on #42
@keshashah @AkankshaBodhankar Yes I am interested in working on this :)

[2016-12-03 04:52] AkankshaBodhankar commented on #42
Okay I'll get back you if we create a task

[2016-12-03 07:17] rahulbisht12 opened #45 "Create Contributing.md file"
CONTRIBUTING.md file can be created in this repo so that we can write all our coding standards there and other the contributers can follow it

[2016-12-03 07:32] sudhachauhan commented on #25
hello @AkankshaBodhankar
can you please guide me how to claim an issue on gci?

[2016-12-03 11:38] AkankshaBodhankar commented on #45
Good Suggestion! We generally include the contributing rules and instructions in the readme.md file. We are still working on it, for now we can keep this as a suggestion. As far as implementation is concerned we will keep it on hold.

[2016-12-03 11:42] AkankshaBodhankar commented on #25
@sudhachauhan Before resolving this issue you will have to create new icons. Once the icons are created we can use them in the code. You can claim the issue "Create new icons for circle of trust" on gci

[2016-12-03 13:19] keshashah commented on #42
@rahulbisht12 You can claim one instance of https://codein.withgoogle.com/dashboard/tasks/4881890746040320/ Good luck! :)

[2016-12-04 07:33] sudhachauhan commented on #25
#30

[2016-12-04 12:53] sudhachauhan commented on #25
#25

[2016-12-04 16:41] PrabhanshuAttri commented on #3
In that case, we can also improve the android app design. Moving fast and breaking things might help the community as a whole. I am contributing to other communities as well. They welcome code and design refactoring, and major improvements with open arms.

As aptly said by Benjamin Franklin

Correct me if I am wrong or mistaken. @willingc @tapasweni-pathak @valeriecodes

[2016-12-04 17:00] AkankshaBodhankar commented on #3
@PrabhanshuAttri You can contact @MeepyMay for the same! She can help you with this :-)

[2016-12-04 17:04] AkankshaBodhankar commented on #24
You can always look for new bugs in the app. Only the gci tasks are currently unavailable however, you can claim the other issues. @fatimarafiqui Keep contributing!

[2016-12-04 17:25] fatimarafiqui commented on #24
I was wondering if I could see the live website on the web server. @AkankshaBodhankar

[2016-12-04 17:36] AkankshaBodhankar commented on #3
As the three apps of FirstAide ios, web and android have the same design this can be suggested for all the three. Generally, we keep such issues as suggestion and forward it to the peace corps. Meanwhile you can start a conversation in the mailing list

[2016-12-04 17:39] AkankshaBodhankar commented on #24
Okay sure you can! But, the database is not up yet.Here http://54.215.183.60/

[2016-12-04 17:49] fatimarafiqui commented on #24
Is there any way I can help you with the database, or any other thing that keeps it pending. That will help the bug finding easier as well.

[2016-12-04 18:18] AkankshaBodhankar commented on #24
That's not under my control. The app is deployed under the peace corps server. However, you can run it on your local machine and try to find the bugs.

[2016-12-05 04:10] fatimarafiqui commented on #24
Okay, I got that.

[2016-12-05 07:57] AkankshaBodhankar opened #47 "Close Travis CI checks"

[2016-12-05 13:11] rahulbisht12 opened #48 "hashing the passwords"
Right now the passwords are saved in database in plain text. It would be better if we hash the password and then save it to database. It will improves the security.

![p23](https://cloud.githubusercontent.com/assets/16523310/20886064/3133afc4-bb1a-11e6-8146-202cc7dbe2fe.png)

[2016-12-05 15:47] AkankshaBodhankar commented on #48
Good suggestion!

[2016-12-07 18:12] PrabhanshuAttri commented on #3
@AkankshaBodhankar could you please re-open this issue as you have added the tag 'suggestion'.

[2016-12-07 18:38] fatimarafiqui opened #49 "Unnecessary redirection on index.php"
index.php redirects to login.php after 2 seconds of delay which is an unnecessary redirect. login.php can be integrated with index.php and a loading screen with Peace Corps logo can be integrated.

[2016-12-07 18:55] AkankshaBodhankar commented on #3
Suggestions are generally forwarded to the peace corps. They decide the requirements. The suggestions will be forwarded to the peace corps and will be reopened if they get approved.

[2016-12-07 19:00] AkankshaBodhankar commented on #49
It's mandatory to have a splash screen for the application and a different login page. I would like to specify that the firstaide web is according to the ios and android. It's in the requirements of the app. However I will put forward your suggestions when the org contacts the peace corps who decide the prototype and requirements. That's the reason why another page has been dedicated for it. You c

[2016-12-08 01:54] dannymout commented on #25
I've created new icons.

<img src="http://i.imgur.com/56f95IX.png">
<img src="http://i.imgur.com/XSC6M3U.png">
<br>
<img height="500" src="http://i.imgur.com/OTkLqpT.png">

Here is an Imgur link to it: http://imgur.com/a/Z4AGW

[2016-12-08 17:57] sandarumk commented on #25
Help me button needs to show urgency. hence try to use red there. The font help me should match the app's font. Can you do these two modifications to the icons?

[2016-12-08 18:46] sandarumk commented on #25
@dannymout Try to use this red #B71234 which is PC brand identity colour.

[2016-12-08 21:20] dannymout commented on #25
OK, I've made the changes. The background colour of the "Help Me" button is `#B71234` and I've set the font to SF UI Display, which is the font used in the app. I'll send the zip on GCI.

[2016-12-09 23:23] dannymout commented on #25
I have implemented the new icons in the iOS version of the app. I've made a [PR](https://github.com/systers/FirstAide-iOS/pull/26).

[2016-12-10 03:23] sandarumk commented on #25
@dannymout As you can see the GCI tasks are multiple instance tasks. So we are going to compare and select the best icons submitted by the students and then open this task for actual implementation. That is why this task is on hold. You don't need to add the icons just yet. But if your icons selected as the best, we will let you know and merge the PR after reviewing.
One more thing is this issue i

[2016-12-21 12:55] sudhachauhan commented on #13
@AkankshaBodhankar  is this issue still available to solve?

[2016-12-22 06:26] sudhachauhan commented on #26
@AkankshaBodhankar  please allow me to solve this issue.

[2016-12-23 03:16] AkankshaBodhankar commented on #13
@sudhachauhan It's been solved and is currently waiting for review

[2016-12-27 10:46] sudhachauhan commented on #26
if no one is assigned this issue, may I work on this?

[2016-12-27 16:21] AkankshaBodhankar commented on #26
Sure it should have a drop down with list if countries and then country
code should load in the drop down. I'll let you know the list if countries
okay.

On Tuesday, December 27, 2016, sudhachauhan <notifications@github.com>
wrote:

[2016-12-27 16:24] #49 closed

[2016-12-27 16:25] AkankshaBodhankar commented on #26
@MeepyMay This issue requires a list of countries where the application is used by peace corps so we can add countries and country codes accordingly

[2016-12-27 17:21] fatimarafiqui commented on #48
Is it available? Can I take it?

[2016-12-28 04:13] AkankshaBodhankar commented on #48
Generally the person who creates the issue is assigned to the task automatically. You can ask @rahulbisth12 if he is not solving it then you can take it up

[2016-12-28 06:37] fatimarafiqui commented on #48
@rahulbisht12 Please let me know if I can take it.

[2016-12-29 08:19] YashBit opened #52 "Gremlins"
FirstAide-web
Random Characters show up in pages when the preview of the website is seen . This can be avoided by using UTF-8 .
<img width="549" alt="screen shot 2016-12-29 at 1 10 16 pm" src="https://cloud.githubusercontent.com/assets/20094677/21539504/791cf974-cdcd-11e6-87fc-d526d8ff9ee7.png">
<img width="740" alt="screen shot 2016-12-29 at 12 42 05 pm" src="https://cloud.githubusercontent.com/a

[2016-12-29 17:46] rahulbisht12 commented on #48
@fatimarafiqui Yes, I will be working on it after next few days.

[2016-12-31 15:34] YashBit commented on #25
Created New Icons for Circle Of Trust Examples of implementation on FirstAide-web and FirstAide-iOS .

![usericon1](https://cloud.githubusercontent.com/assets/20094677/21578161/317cf242-cf9c-11e6-9163-6fe41a7e630c.png)
![button3](https://cloud.githubusercontent.com/assets/20094677/21578162/3280114c-cf9c-11e6-89ed-d652ae0bc6bb.png)
![simulator screen shot 31-dec-2016 8 24 03 pm](https://cloud.githu

[2017-01-02 15:07] AkankshaBodhankar commented on #25
Yash have you made the icons for all the resolutions of Android. It should support multiple screens.  Check this link to know more about it https://developer.android.com/guide/practices/screens_support.html

[2017-01-03 07:51] sudhachauhan commented on #26
when can i get the list?

[2017-01-03 14:35] AkankshaBodhankar commented on #26
@sudhachauhan I've requested for the list, it may take a little time as we have to contact the peace corps

[2017-01-07 02:45] jacqueline8711 commented on #25
I created these icons for FirstAide:
<img width="96" alt="help_button_192" src="https://cloud.githubusercontent.com/assets/16260112/21738721/269bd3e0-d48b-11e6-9323-4fd0e97b0096.png">
<img width="96" alt="edit_button_192" src="https://cloud.githubusercontent.com/assets/16260112/21738722/29de02b2-d48b-11e6-8155-3e8a4ba25470.png">
<img width="96" alt="person_icon_192" src="https://cloud.githubuserco

[2017-01-07 04:12] AkankshaBodhankar commented on #25
Have you made icons which are compatible for multiple screens in Android ?
See my above comment for the link.
On Jan 7, 2017 8:15 AM, "Jacqueline Bronger" <notifications@github.com>
wrote:

[2017-01-08 05:43] AkankshaBodhankar commented on #26
@sudhachauhan The list of countries can be found in this link : https://www.peacecorps.gov/countries/
Add one dropdown at the top of edit page in circle of trust. Once we select the country, the country code should be loaded in the current edit box.

[2017-01-08 15:53] sudhachauhan commented on #26
![screenshot 89](https://cloud.githubusercontent.com/assets/17814636/21751154/49bf8cb4-d5e8-11e6-8326-1335276031eb.png)
![screenshot 90](https://cloud.githubusercontent.com/assets/17814636/21751155/4f6e8fa2-d5e8-11e6-8a1e-279942d4ed23.png)
hey! these are the screenshots.
1.updated the phone number validation with the '+' sign.
2.selecting the country from the top select menu will make respective d

[2017-01-08 16:04] AkankshaBodhankar commented on #26
Can you make the drop down smaller and the text boxes as they were before
one below another. Also, can you post the screenshot of the phone numbers
getting loaded and saved.
On Jan 8, 2017 9:23 PM, "sudhachauhan" <notifications@github.com> wrote:

[2017-01-09 15:21] mihai-burduselu opened #53 "Remove spelling mistake from README.md"
![spelling-mistake](https://cloud.githubusercontent.com/assets/16403502/21771327/96be39e6-d68f-11e6-8c56-f4fe61990809.jpg)

[2017-01-09 16:21] sudhachauhan commented on #26
![screenshot 95](https://cloud.githubusercontent.com/assets/17814636/21773595/bbc6d196-d6b5-11e6-9a64-53ee8cbcbd6f.png)
![screenshot 91](https://cloud.githubusercontent.com/assets/17814636/21773596/bbe3a578-d6b5-11e6-819c-05cf3a0bdffb.png)

[2017-01-09 16:50] AkankshaBodhankar commented on #26
Make the text boxes aligned one below another

On Mon, Jan 9, 2017 at 9:51 PM, sudhachauhan <notifications@github.com>
wrote:

[2017-01-09 17:22] sudhachauhan commented on #26
![screenshot 96](https://cloud.githubusercontent.com/assets/17814636/21775959/3c6f79b2-d6be-11e6-9bbc-c70f646d92a6.png)

[2017-01-12 01:07] YashBit commented on #52
@AkankshaBodhankar  Hi , as this is valid could a task be created for the same ?

[2017-01-12 20:36] Afrin14 commented on #53
If no one is assigned to this issue yet, then can I take it?

[2017-01-12 22:54] mihai-burduselu commented on #53
Hello, I've made a pull request for this issue.

[2017-01-13 10:30] Afrin14 commented on #53
Since no one is assigned yet(Assignees : Not one assigned), so I fixed this issue and have made a pull request  too.

[2017-01-13 11:09] mihai-burduselu commented on #53
![issue](https://cloud.githubusercontent.com/assets/16403502/21928066/6acac4e4-d991-11e6-8cb7-ae057c1181e1.jpg)

[2017-01-14 06:02] Afrin14 commented on #53
I was just too excited to solve this issue as this is my first ever contribution to open source.I am glade that I got to do it in this organizations.  And thanks to you too @mihai-burduselu  :smile:

[2017-01-14 15:05] mihai-burduselu commented on #53
Ok, I am also new in open source world and I wanted to report and solve some issues.
This organization has great projects and I have some ideas for new features.
We can collaborate and we can talk more about new features and solving bugs on slack. :+1:
I've left you a message.

There are also a lot of newcomers bugs in open source projects. Below it's a list of organizations with some guides for n

[2017-01-14 15:40] Afrin14 commented on #53
That seems a great idea!

[2017-01-16 13:42] anweshknayak opened #57 "Improve UI ?"

[2017-01-17 08:36] anweshknayak opened #58 "ReadMe section for Linux Users"
Currently only for Windows. Should be updated for Linux users

[2017-01-24 17:39] fatimarafiqui commented on #48
@rahulbisht12   Its been a long time now. Are you still interested in taking it up? @AkankshaBodhankar

[2017-01-28 06:26] #53 closed

[2017-01-28 06:28] AkankshaBodhankar commented on #58
@anweshknayak Can you elaborate?

[2017-01-28 06:29] AkankshaBodhankar commented on #57
@anweshknayak Can you post what are you referring to?

[2017-01-28 06:29] AkankshaBodhankar commented on #52
@YashBit Are you willing to solve this issue?

[2017-01-28 06:30] anweshknayak commented on #58
I mean the setup installation has been provided only for Windows user. I use linux. It is bit different from the setup conventions that of windows. So I was asking to provide the setup instructions for the same @AkankshaBodhankar

[2017-01-28 06:31] YashBit commented on #52
@AkankshaBodhankar Yeah , I will try to solve it and make the PR . But I have my exams and I Amby not get free time.  So please don't assign it to me . I will try to make the PR .

[2017-01-28 06:34] AkankshaBodhankar commented on #21
Solved #44

[2017-01-28 06:34] #21 closed

[2017-01-28 06:35] #20 closed

[2017-01-28 06:38] AkankshaBodhankar commented on #23
We discussed it a bit with peace corps, but that dies away since this was not and priority.  We will keep the tag and close. the issue since we are not going to go forward with this now. Will come back in project finalization phase.

[2017-01-28 06:38] #23 closed

[2017-01-28 06:38] AkankshaBodhankar commented on #42
@rahulbisht12 Are you working on this?

[2017-01-28 06:39] AkankshaBodhankar commented on #45
We will inform the peace corps and org about this along with other suggestions. For now, this will be closed. We will reopen the issue once it gets accepted.

[2017-01-28 06:39] #45 closed

[2017-01-28 06:42] AkankshaBodhankar commented on #26
Looks good.

[2017-01-28 06:44] AkankshaBodhankar commented on #48
@rahulbisht12 Are you working on it? If yes, can you tell how are you planning to solve this issue.

[2017-01-28 06:46] AkankshaBodhankar opened #59 "Comments for Javascript files"
**Pick only one file at a time.**
This is a beginner task. You can claim one css file and start working on it
Make sure the format you use while adding comments is according to this
http://usejsdoc.org/about-getting-started.html.

[2017-01-28 06:50] AkankshaBodhankar commented on #59
The format should be according to http://usejsdoc.org/about-getting-started.html

[2017-01-28 06:54] AkankshaBodhankar commented on #59
You can claim any file except:
sweetalert.min.js
jquery-1.12.4.min.js
dragscroll.js

[2017-01-28 06:57] AkankshaBodhankar commented on #52
@YashBit Okay then, this issue will be free to solve and anyone can claim it. Don't worry about it @YashBit

[2017-01-28 06:59] #57 closed

[2017-01-28 07:01] AkankshaBodhankar commented on #58
@anweshknayak Sure. You can solve this. Before making a PR post in the changes in the comments here.

[2017-01-28 08:08] anweshknayak commented on #59
@AkankshaBodhankar can I work on this ?

[2017-01-28 08:09] anweshknayak commented on #58
@AkankshaBodhankar sure

[2017-01-28 08:35] AkankshaBodhankar commented on #59
Which file do you want to work with ?
On Jan 28, 2017 1:38 PM, "Anwesh Nayak" <notifications@github.com> wrote:

[2017-01-28 08:40] anweshknayak commented on #59
https://github.com/asvd/dragscroll? to start with. can you elaborate a bit more like this library needs to be implemented right with the FirstAide web project ?

[2017-01-28 08:46] AkankshaBodhankar commented on #59
I didn't get you
On Jan 28, 2017 2:10 PM, "Anwesh Nayak" <notifications@github.com> wrote:

[2017-01-28 08:47] anweshknayak commented on #59
You said : You can claim one css file and start working on it.
Like we need to integrate this library with the Project?

[2017-01-28 08:55] AkankshaBodhankar commented on #59
No. You just need to add comments to one file and make a PR. There is no
need to integrate any library.
On Jan 28, 2017 2:18 PM, "Anwesh Nayak" <notifications@github.com> wrote:

[2017-01-29 13:09] fatimarafiqui opened #60 "Documentation for database setup for new users"
There is no documentation for initial database setup. For new users, it will not be easy to setup all the tables in database. We can add documentation for the same.

[2017-01-29 13:10] fatimarafiqui commented on #59
Can I do this?

[2017-01-29 13:12] fatimarafiqui commented on #52
Can I take this issue?

[2017-01-29 13:47] anweshknayak commented on #60
Yes agree with that. Same for linux users too

[2017-01-29 13:51] fatimarafiqui commented on #60
@anweshknayak It remains same for linux, mac or windows. The procedure is not OS dependant.

[2017-01-29 15:40] fatimarafiqui commented on #47
Can you elaborate the issue please? I did not get the issue.

[2017-01-29 15:41] AkankshaBodhankar commented on #47
This issue has to be handled at our end. You can contribute to the issues
which are labeled as free.
On Jan 29, 2017 9:10 PM, "Fatima Rafiqui" <notifications@github.com> wrote:

[2017-01-29 15:41] AkankshaBodhankar commented on #52
Sure
On Jan 29, 2017 6:42 PM, "Fatima Rafiqui" <notifications@github.com> wrote:

[2017-01-29 15:42] AkankshaBodhankar commented on #59
Which file would you like to take? Before starting you must pick a file and
then start. Only one file must be picked.
On Jan 29, 2017 6:40 PM, "Fatima Rafiqui" <notifications@github.com> wrote:

[2017-01-29 15:49] fatimarafiqui commented on #47
okay.

[2017-02-02 07:54] Toppo96 commented on #58
I am also a linux(ubuntu 14.04LTS) user and I want to add the readme section for linux(ubuntu 14.04LTS or its newer version) users. Can I work on this?

[2017-02-04 07:23] AkankshaBodhankar commented on #60
@fatimarafiqui Sure. What do you propose to add in the documentation? Can you elaborate?

[2017-02-05 12:37] fatimarafiqui commented on #60
There are no steps specified for database setup for the first time users. For example, If I download the zip and run the setup, it shows db not connected on the signup/ login page. Steps for db schema setup and connection are not specified.

[2017-02-05 12:55] AkankshaBodhankar commented on #60
@fatimarafiqui
You've got me wrong. I meant what will your documentation consist of for example.,
Steps to setup then,
what can go wrong then,
few screenshots
etc.

[2017-02-05 13:28] fatimarafiqui commented on #60
Yes, It would consist of screenshots and the procedure, step by step.

[2017-02-06 17:48] fatimarafiqui opened #62 "Add captcha on the signup page"
Captcha helps form submission to be more secure and won't allow automated scripts to fill forms or someone to create robot to fill your form. It is highly recommended to use Captcha. @AkankshaBodhankar

<img width="1114" alt="screen shot 2017-02-06 at 23 17 37" src="https://cloud.githubusercontent.com/assets/13470643/22659128/80d34fba-ecc2-11e6-90eb-76196f8c1a68.png">

[2017-02-07 18:20] fatimarafiqui opened #63 "Add check for country field"
There is no check for value accepted in the country field on the signup page. It is accepting any value, as shown in the screenshot.

<img width="1257" alt="screen shot 2017-02-07 at 23 45 51" src="https://cloud.githubusercontent.com/assets/13470643/22705040/edacaf3c-ed8f-11e6-8e0a-02bcba0ad5e2.png">

<img width="1273" alt="screen shot 2017-02-07 at 23 46 19" src="https://cloud.githubusercontent.c

[2017-02-07 18:33] fatimarafiqui opened #64 "Confirm password field missing on signup page"
An extra field for confirm password must be there because human typing errors are inevitable. The double entry of password ensures that the user has entered the right and desired password. It also prevents him from making more mistakes and signing up again. @AkankshaBodhankar

<img width="1017" alt="screen shot 2017-02-08 at 00 03 07" src="https://cloud.githubusercontent.com/assets/13470643/227056

[2017-02-09 10:21] AkankshaBodhankar commented on #63
Sure. It's a good suggestion, I'll tell you which countries will go in the dropdown then, this issue can be reolved

[2017-02-09 10:21] AkankshaBodhankar commented on #62
Yes. we can add this. What kind of captcha do you plan to add?

[2017-02-09 10:22] AkankshaBodhankar commented on #64
Okay, Go ahead with this make sure you stick to the format while coding

[2017-02-10 03:13] kamsuri commented on #22
Hi! Can i take gethelpnow-style.css for adding comments in it?

[2017-02-10 03:56] AkankshaBodhankar commented on #22
Sure. But, stick to the format
On Feb 10, 2017 8:43 AM, "kamsuri" <notifications@github.com> wrote:

[2017-02-10 10:18] kamsuri commented on #42
Hi! Can I work on this?

[2017-02-10 13:12] sudhachauhan commented on #47
My PR is failing this travis CI check.....what should I do? @AkankshaBodhankar

[2017-02-10 13:14] AkankshaBodhankar commented on #47
Let it be even if it shows checks failed.
On Feb 10, 2017 6:43 PM, "sudhachauhan" <notifications@github.com> wrote:

[2017-02-10 13:17] sudhachauhan commented on #59
is this still open? according to me all the js files are with comments.

[2017-02-11 04:26] AkankshaBodhankar commented on #47
Solved

[2017-02-11 04:26] #47 closed

[2017-02-11 04:28] AkankshaBodhankar commented on #59
Yes it's still open. There are comments but, they have to be modified according to the commenting format.

[2017-02-11 04:29] AkankshaBodhankar commented on #42
This is assigned to Rahul.We will wait for few more days until we hear back from him.

[2017-02-11 04:30] AkankshaBodhankar commented on #52
@fatima are you working on this ?

[2017-02-11 06:50] fatimarafiqui commented on #52
@AkankshaBodhankar Yes, will open a pull request very shortly.

[2017-02-11 07:43] fatimarafiqui commented on #63
@AkankshaBodhankar sure. Please tell me the countries that need to be included. Or shall I include all?

[2017-02-11 07:45] fatimarafiqui commented on #62
I am planning to add google recaptcha, as shown in the image above. Its one of the best captcha, highly used these days. @AkankshaBodhankar

[2017-02-12 05:16] kamsuri commented on #22
Alright, i will submit the code for review soon.

[2017-02-12 05:19] kamsuri commented on #42
Okay

[2017-02-12 05:44] rahulbisht12 commented on #42
@AkankshaBodhankar I am now preparing for my 12 board Exams. So I will not be available for some time. You can assign the tasks to the interested peoples. @manishbisht Please look into the issues of this project.

[2017-02-12 17:28] kamsuri commented on #22
Please review the code

[2017-02-28 10:26] sudhachauhan opened #69 "missing link for sign in registration.php"
![screenshot 112](https://cloud.githubusercontent.com/assets/17814636/23401500/f78b339a-fdcd-11e6-96e9-39b500cc4354.png)
A link for sign in should be provided on the registration page too.
Otherwise a user has to use back button of the browser to get the sign in page.(in case of no account creation)

[2017-02-28 14:26] VictorAlagwu commented on #48
It is possible @rahulbisht12 is no longer working, onn the project ,if there is no one interested,I would like to work on it,and I would made use of bcrypt hashing algorithum

[2017-02-28 14:31] VictorAlagwu opened #70 "Forget Password Link and allowing Users to login with username too"
Telling a user to log in using only his/her email is really stressful,most users will prefer being able to log in using both username and email, and lastly I think there should be a forget password link that allows users who forgot their password to be able to recover them

[2017-02-28 16:59] fatimarafiqui commented on #48
I have been willing to take the issue from a very long time now. But, he is not replying. @AkankshaBodhankar Can I take this now please?

[2017-02-28 17:02] fatimarafiqui opened #71 "Email Verification"
There is no method for email verification. Anyone will any fake or non-existant email id can create can account. Proper verification check needs to be applied.

[2017-02-28 17:08] VictorAlagwu commented on #48
I think @fatimarafiqui should work on the project since @rahulbisht12 is not responding , @AkankshaBodhankar ,I am really to assist if my help is required

[2017-03-01 17:30] Raxerz opened #72 "Spelling mistake in menu.php"
The word "harassment" is incorrectly spelled under "Sexual Assault Awareness"

[2017-03-02 09:25] Raxerz commented on #72
Can I submit a PR for this?

[2017-03-03 05:34] Dhara159 commented on #71
@fatimarafiqui I am Dhara Vihol and I would like to work in this project as a GSOC 2017  participate. but i have certain doubts:

1. Can anyone try to solve this issue or issue will be assigned to particular person. If it is so then I would like to submit solution code for this issue.
2. If this issue is assigned to me, where i have to do changes: In the original file on GitHub or providing the co

[2017-03-03 16:32] swapsha96 commented on #71
@fatimarafiqui Verification can be done by adding another column 'isVerified' under 'user' table and sending verification mail to him/her. Should I start working on this?

[2017-03-03 16:33] swapsha96 commented on #70
@VictorAlagwu this issue can be addressed by using 'Cookies'. Should I start working on this?

[2017-03-03 16:38] swapsha96 commented on #63
@fatimarafiqui @AkankshaBodhankar Dropdown is a good option. Should I give it a head start?

[2017-03-03 16:39] fatimarafiqui commented on #63
@swapsha96 I have already done it.

[2017-03-03 16:42] fatimarafiqui commented on #71
@Dhara159 @swapsha96 A person who created the issue, automatically the issue is assigned to that person on approval of issue, unless the issue is declared free. I will be creating a PR in a short while. Kindly refer Read section of documentation for more contribution details.

[2017-03-03 17:09] swapsha96 commented on #71
@fatimarafiqu I want to participate in GSoC '17 and take this project. Can you suggest me what can I do and how can I give a head start?

[2017-03-03 17:34] Dhara159 commented on #71
@fatimarafiqui okay. Thank you for your instruction. 👍

[2017-03-03 17:35] Dhara159 opened #75 "Validation of Contact no. according to selected country"
Any length of contact no. is accepted without checking if it is correct according to the selected country or not on the page of editComrades.php.( Circle of trust / My Trustees)

![screenshot 156](https://cloud.githubusercontent.com/assets/12209363/23569650/51a11fec-0086-11e7-95c0-2e64c223176b.png)
![screenshot 158](https://cloud.githubusercontent.com/assets/12209363/23569670/701ce348-0086-11e7-8a

[2017-03-03 20:16] swapsha96 opened #76 "Unwanted styling on window resize"
![firstaide - google chrome](https://cloud.githubusercontent.com/assets/14021461/23567367/fc38947c-007b-11e7-9b0c-e5dda1d3f8c2.png)

As it can be observed that we get unwanted results on resizing window. Therefore, the website is not responsive. Best way to resolve this is to use BootStrap to make website mobile friendly. I can strap working on it by applying on few pages.

[2017-03-03 20:20] swapsha96 opened #77 "No password encryption"
![localhost 127 0 0 1 pcsa_web user phpmyadmin 4 5 1 - google chrome_2](https://cloud.githubusercontent.com/assets/14021461/23567554/d19136ce-007c-11e7-8f1a-0651bcc58285.png)

This is a major issue needs to be address. For the start **md5 encryption** can be used. This will be done at the time of both login and registration.

[2017-03-03 22:25] Dhara159 opened #78 "Can not successfully send message or voice call after implementing twilio"
After setting the SID, authtoken, fromnumber and tonumber, Can not send the message or do voice call on given Tonumber. Showing error like :**Form submission canceled because the form is not connected** in get help now section.

[2017-03-04 06:24] sudhachauhan commented on #77
@swapsha96 We can use better hashing algorithms such as crypt().  Since the crypt() hashed passwords are self-contained, with all the information on the algorithm and salt required for future password verification, I think we should go with crypt().

[2017-03-04 06:55] shreyans29 opened #79 "Comments for PHP files."
While going through the codes, I did not find comments on PHP files and there is no other issue opened to take care of this. Is it okay if I go ahead with it @AkankshaBodhankar ?

[2017-03-04 06:59] shreyans29 opened #80 "Adding Username with Logged in as"
[https://github.com/systers/FirstAide-web/blob/develop/project-docs/prj%20images/Screenshot%20(606).png](url)

In the project, I found that Logged in as was there without a username. Is it okay if I proceed to solve this. @AkankshaBodhankar

[2017-03-04 07:40] swapsha96 commented on #77
Ok I'll use crypt() then create a pull request.

[2017-03-04 10:44] shreyans29 commented on #22
can I take welcome-style.css

[2017-03-04 10:59] swapsha96 commented on #77
@sudhachauhan If we see the use of crypt(), it requires fetching the value of 'password' cell corresponding to email ID entered at the time of login. But `login('$password','$email')` is used already. Both cannot be used at the same time as that would be pointless. I think for now, MD5 encryption is sufficient because no such 3rd party integration is done.

[2017-03-04 11:02] AkankshaBodhankar commented on #22
@shreyans29 Sure

[2017-03-04 11:30] AkankshaBodhankar commented on #77
This is a duplicate issue. Go through the previous issues before creating a new one. There is a discussion on this going on in #48

[2017-03-04 11:30] #77 closed

[2017-03-04 11:31] shreyans29 commented on #22
Hi, according to
 https://perishablepress.com/obsessive-css-code-formatting-organization-comments-and-signatures
it says, the CSS classes are better if grouped using the following protocol.

global settings (resets, scrollbars, etc.)
primary layout structure (body, primary divs)
secondary layout structure (header, footer, sidebar)
tertiary layout structure (page regions, floats)
text-related treat

[2017-03-04 11:31] AkankshaBodhankar commented on #78
Can you post the screenshot of the error ?

[2017-03-04 11:33] AkankshaBodhankar commented on #75
This is a duplicate issue. There is a discussion going on already. Please go through the previous issues before creating a new one. #23

[2017-03-04 11:33] #75 closed

[2017-03-04 11:34] AkankshaBodhankar commented on #76
Please go through the previous issues before creating one. #42

[2017-03-04 11:34] #76 closed

[2017-03-04 11:36] AkankshaBodhankar commented on #71
@fatimarafiqui This issue is under hole right now. We are going to work on it after the code is deployed. Email verification will not be done on local machine.

[2017-03-04 11:37] AkankshaBodhankar commented on #69
The page will be redirected to login when the registration is completed.

[2017-03-04 11:38] AkankshaBodhankar commented on #69
Why do you think it will be necessary to put a link? If the form is incomplete it won't be a good option to put a link.

[2017-03-04 11:38] AkankshaBodhankar commented on #79
@shreyans29 Sure. Is there any particular format you will stick to?

[2017-03-04 11:39] AkankshaBodhankar commented on #72
@Raxerz Can you post the screenshot?

[2017-03-04 11:46] swapsha96 commented on #77
@AkankshaBodhankar I resolved this issue using MD5 encryption. Should I create PR? Thank you for your assistance.

[2017-03-04 11:47] AkankshaBodhankar commented on #70
@VictorAlagwu Sure. You can work on this issue.

[2017-03-04 11:48] AkankshaBodhankar commented on #80
@shreyans29 The link is leading to a 404 error. Can you post the screenshot.

[2017-03-04 11:52] AkankshaBodhankar commented on #77
@swapsha96 See the comments I've posted on your pull request.

[2017-03-04 11:54] AkankshaBodhankar commented on #22
@shreyans29 All the css files have been arranged alphabetically according to google css format. Try to stick to it.

[2017-03-04 12:00] shreyans29 commented on #22
Okay.

[2017-03-04 12:08] shreyans29 commented on #80
![screenshot 606](https://cloud.githubusercontent.com/assets/8592568/23578615/558380ac-0101-11e7-9e93-9ae092e0ed42.png)

This image, the left bottom part.

[2017-03-04 12:24] shreyans29 opened #84 "Requirements for welcome page buttons"
The buttons on the welcome page are not functional. What can we do about it ?

[2017-03-04 12:44] AkankshaBodhankar commented on #80
@shreyans29 Sure go ahead with this

[2017-03-04 12:52] AkankshaBodhankar commented on #84
I'll forward this to the peace corps. You can work on it once we get the requirements from them. Until then we will keep it on hold.

[2017-03-04 14:25] AkankshaBodhankar commented on #42
This is an issue which needs a lot of modification. We will keep this for GSOC 17.

[2017-03-04 14:26] AkankshaBodhankar commented on #58
@anweshknayak Are you working on this?

[2017-03-04 14:26] AkankshaBodhankar commented on #52
Solved

[2017-03-04 14:26] #52 closed

[2017-03-04 14:56] VictorAlagwu commented on #70
First, I would be working on the login aspect..then the forget password

[2017-03-04 15:08] sudhachauhan commented on #69
Actually, Google signup and similar groups provide this link at every page, till the user registers. So, I thought there's no harm learning from such examples . So, why we should force the user to fill up the form, he might change his mind . just a suggestion.

[2017-03-04 15:56] manishbisht commented on #42
Any more issues for GSoC'17 so that I can make a list of issues and then submit it in my proposal.

[2017-03-04 15:57] AkankshaBodhankar commented on #42
Not right now.
On Mar 4, 2017 9:26 PM, "Manish Bisht" <notifications@github.com> wrote:

[2017-03-04 16:09] VictorAlagwu opened #86 "Refactor Registerrati"

[2017-03-04 16:10] #86 closed

[2017-03-04 16:26] VictorAlagwu opened #87 "Refactor Registraction Page and adding a User ID to user table"
Going through the registration page and I saw some things that need to be corrected, first is the use of CALL in our mysql command,I think the normal SELECT statement should be used,and we should use the filter_var function to validate that correct emails are inserted, and also we will need to add some more columns to the database,id column, column for resetPasswordToken,and also resetPasswordComp

[2017-03-04 16:50] Raxerz commented on #72
![148864615571740](https://cloud.githubusercontent.com/assets/16686007/23580485/bf0ba41a-0128-11e7-8648-8f68c667c586.png)
Here you go @AkankshaBodhankar
The mistake is highlighted in black

[2017-03-04 17:18] Raxerz opened #88 "Change background color of "Set your peer counselling preferences"

[2017-03-04 17:21] Raxerz opened #89 "Change background color of "Set your peer counselling preferences" on the welcome page"
Currently this particular option or button ("Set your peer counselling preferences") has a different background color in comparison to the rest of the options.
Is this how it's supposed to be or is it a bug that has to be fixed?
![screenshot from 2017-03-04 22 01 35](https://cloud.githubusercontent.com/assets/16686007/23580732/fb931afe-012c-11e7-96ee-9d646d4b285c.png)

[2017-03-04 17:21] #88 closed

[2017-03-04 18:02] VictorAlagwu opened #90 "Recreating the Login and Registration Page-adding more advanced technologies"
I think technology is advancing everyday,and as a result of that I think a lot of stuffs need to be remove and added to the login page
*Hashing Passwords
*Creating a direct table for users
*Stop the use of  CALL functions
*Create a new database with new columns in user table
*Forget Password feature
*Remember me feature
*Email verification
*Adopt the use of a PHP framework eg codeigniter
etc

[2017-03-04 18:12] Dhara159 commented on #78
@AkankshaBodhankar Here is the screenshot in which there is an error in twilio-call.js when i try to call and error in twilio-sms.js when i try to send sms in Get Help Now.
![screenshot 160](https://cloud.githubusercontent.com/assets/12209363/23581096/fe39b9dc-0133-11e7-8ba6-638a23b37cf2.png)

[2017-03-04 18:44] Dhara159 opened #91 "Stay Signed In option on Sign In page."
@AkankshaBodhankar Can we give such option like Stay Signed In to user whether wants to keep logged in untill he/she logout or allow him to logout after some time automatically? If it is then Can i start my work for this?

[2017-03-04 18:50] Dhara159 opened #92 "Increase font size of input text on register and login page form."
@AkankshaBodhankar Is this a valid issue to fix it?

[2017-03-04 18:51] AkankshaBodhankar commented on #92
The size of the font has been made according to the requirements and as far
as clarity is concerned it looks just fine. As of now we don't need this
issue.
On Mar 5, 2017 12:20 AM, "Dhara Vihol" <notifications@github.com> wrote:

[2017-03-04 18:52] #92 closed

[2017-03-04 18:53] AkankshaBodhankar commented on #89
It's intented to be this way.

[2017-03-04 18:53] #89 closed

[2017-03-04 19:06] AkankshaBodhankar commented on #87
Using stored procedures is always good from security point of view especially when you are passing parameters. That's the reason why we have chosen to use them. Why do you need an additional user ID when you can identify the user using the email id. It will be redundant. Email verification issue has been opened and is on hold. There is an ongoing discussion #71.
When you are creating an issue plea

[2017-03-04 19:06] #87 closed

[2017-03-04 19:09] AkankshaBodhankar commented on #87
Please give a reason why you want to make such changes. If your reason is solid and will improve the app we will always accept it. If you still feel that whatever changes you are suggesting are good then you can describe how will it improve the app and make it perform better.

[2017-03-04 19:14] AkankshaBodhankar commented on #90
Many of the issues you are mentioning are redundant.
Discussion on hashing passwords us going on #48
Email verification discussion is also going on in #71
What do you mean by direct users table?
What new columns do you want to add in the user table?
Remember me feature has been suggested and it's valid as well. If you get any ideas to improve the app create different issues to address a particular

[2017-03-04 19:14] #90 closed

[2017-03-04 19:17] AkankshaBodhankar commented on #90
I think you have mentioned about forget password in another issue which was accepted. Why here again ? Please create issues surrounding to a particular and direct problem. If you are suggesting so many things use the mailing list. Use issues only to solve technical problems and related stuff. If you are suggesting changes and improvements which will require a lot of change and decision making use

[2017-03-04 19:25] AkankshaBodhankar commented on #78
You can use the slack channel to check if others are facing same problem. I'll look into it as well.

[2017-03-04 20:09] VictorAlagwu commented on #87
Ok

[2017-03-04 21:35] VictorAlagwu opened #94 "Disable same username registering"
Like the feature when same email address cannot register, i think the same username should not be able to register twice, as it will affect the login page, when different users with the same usernames, but different emails try logging in
![img](https://cloud.githubusercontent.com/assets/15857679/23582461/c4940c7c-012a-11e7-84e7-a862751070bf.JPG)

[2017-03-05 03:25] shreyans29 commented on #79
Yes, this one https://phpdoc.org/docs/latest/getting-started/your-first-set-of-documentation.html

[2017-03-05 03:52] shreyans29 opened #96 "Updating user info like email, password, mobile numbers."
While working with it, I found no way to change passwords and update email address. I would like to work on it, how do I proceed ?

[2017-03-05 03:54] shreyans29 commented on #94
The login page only accepts email which is a primary key, I will not effect the login.

[2017-03-05 03:58] shreyans29 opened #97 "This is a secure portal link in Registration page."
In the registration page there is a link which says "This is a secure portal". I was not sure if this was supposed to be a link or just an info.

If it is supposed to be a link are there any specific requirements for it ?
If not then I think it would be better to remove it as a link and just post it as text.

[2017-03-05 04:35] VictorAlagwu commented on #94
I think with the implementation of  issue #70 ,it would be a problem ,since issue #70 is about allowing users to log in with either Email or username

[2017-03-05 04:47] fatimarafiqui commented on #48
@AkankshaBodhankar I have been waiting for a long time, since December for @rahulbisht12 to respond on this issue, I had also dropped a mail to him for the same and no response. Please give your on call on whether I should create a pull request or not. I have done it on my local machine. Please.

[2017-03-05 04:48] Dhara159 commented on #78
@AkankshaBodhankar I will surely discuss above problem on the slack channel. But I have found the solution. If you allow can I post why I'm facing this error.

[2017-03-05 04:49] fatimarafiqui commented on #71
@AkankshaBodhankar Sure, Let me know if any progress comes up. I will take it up further.

[2017-03-05 04:54] AkankshaBodhankar commented on #78
Sure.
On Mar 5, 2017 10:18 AM, "Dhara Vihol" <notifications@github.com> wrote:

[2017-03-05 05:05] Dhara159 commented on #78
We were not facing the issue in the older version of all the browser. But in updated version of browsers(I.e. chrome 56, Mozilla and IE 11)there will be such error. Because in the updated version it is strictly recommended to associate form in browsing context. If it's not, form submission will be blocked. So the we have to add **document.body.appendChild(form);** line in our both of the js file.

[2017-03-05 05:44] shreyans29 opened #98 "Text on Menu Barely visible : Color change"
![capture](https://cloud.githubusercontent.com/assets/8592568/23584903/00fba1ce-0195-11e7-8c00-3c02b414b9b2.PNG)
The text on the left column of the menu is barely visible. I think changing color would help.

[2017-03-05 05:49] AkankshaBodhankar commented on #98
@shreyans29 The colors have been specified according to this. https://github.com/systers/FirstAide-Android/issues/49
Can you verify if the same has been used for it or not?

[2017-03-05 05:50] AkankshaBodhankar commented on #97
@shreyans29 Yes, we can change it to text.

[2017-03-05 05:51] shreyans29 commented on #98
yes, it is the same but again barely visible even there.
![6d39fe4a-d4cc-11e5-8397-ca57505b0a7d](https://cloud.githubusercontent.com/assets/8592568/23584926/dca97534-0195-11e7-8e57-727d89c674cb.png)

[2017-03-05 05:52] shreyans29 commented on #97
should I do it ?

[2017-03-05 05:56] sunakshi96 commented on #59
Hey @AkankshaBodhankar
I am Sunakshi from Indian and I would like to claim /css files/menu-css.css  to contribute to the project

[2017-03-05 06:00] AkankshaBodhankar commented on #97
Yes

[2017-03-05 06:13] fatimarafiqui opened #100 "Enforcing Php coding style"
We are following coding standards for all other languages for HTML/CSS. But no coding conventions and style is used for PHP. We can start with PSR-2 coding standard, which is accepted industry wide. It is based on RFC2119.

Link to the guideline:
http://www.php-fig.org/psr/psr-2/

[2017-03-05 06:20] fatimarafiqui opened #102 "Fixing 'Conventions and rules' link in README file"
The link for 'Conventions and rules' has been moved from [https://google.github.io/styleguide/htmlcssguide.xml](https://google.github.io/styleguide/htmlcssguide.xml )
to
[https://google.github.io/styleguide/htmlcssguide.html](https://google.github.io/styleguide/htmlcssguide.html)

This can be fixed.

[2017-03-05 06:26] fatimarafiqui opened #103 "Font size of input text on login page too small"
The font size for the text that we input is really small as compared to other text on the page, making it barely visible. Hence, this can create a change of making errors. This can be fixed by increasing the size by few points.

<img width="1248" alt="fontsize" src="https://cloud.githubusercontent.com/assets/13470643/23585102/76378804-019a-11e7-9910-aae07fa1ec0f.png">

[2017-03-05 06:29] AkankshaBodhankar commented on #70
You can work on the forgot password issue, As of now let's keep the username as suggestion I'll let you know if it gets accepted.

[2017-03-05 06:30] VictorAlagwu commented on #70
ok

[2017-03-05 06:31] AkankshaBodhankar commented on #94
As of now we do not need this because we already have a unique identification which is email. In #70 I've mentioned that we will keep this username issue on hold and if it gets accepted then you can work on it.

[2017-03-05 06:31] #94 closed

[2017-03-05 06:32] AkankshaBodhankar commented on #96
This will be addressed along with the 'user persona' feature of the app which is on hold #7

[2017-03-05 06:32] #80 closed

[2017-03-05 06:33] AkankshaBodhankar commented on #59
This is the issue for javascript comments not css

[2017-03-05 06:35] AkankshaBodhankar commented on #103
@fatimarafiqui This was suggested in #92 We will keep this as a suggestion and forward it to peace corps and get the new font sizes.

[2017-03-05 06:35] #103 closed

[2017-03-05 06:36] #60 closed

[2017-03-05 06:58] shreyans29 opened #104 "editComrades.php comrades can be changed to number input"
editComrades.php accepting text data as well. We can change it to accept only numeric data.

[2017-03-05 07:11] AkankshaBodhankar commented on #104
It is not accepting text data but, we can have number input as you suggested

[2017-03-05 07:16] fatimarafiqui commented on #48
@AkankshaBodhankar Rahul wont be working on this, he wrote it few days back. I am working on this now. Is it okay?
<img width="892" alt="screen shot 2017-03-05 at 12 44 20" src="https://cloud.githubusercontent.com/assets/13470643/23585319/94282272-01a1-11e7-86e3-f1cb8afc7231.png">

[2017-03-05 07:44] AkankshaBodhankar commented on #48
@fatimarafiqui Okay

[2017-03-05 07:45] AkankshaBodhankar commented on #78
This is a valid issue. Can you post the screenshot of the working version after you successfully made modifications

[2017-03-05 07:52] AkankshaBodhankar commented on #102
Okay

[2017-03-05 07:55] AkankshaBodhankar commented on #100
Most of them are covered,. However, this will be useful when a lot of coding will be done during the next development phase that is GSOC. This will be discussed during GSOC 17.

[2017-03-05 07:56] AkankshaBodhankar commented on #91
Okay.

[2017-03-05 08:00] Dhara159 commented on #78
Sure. Here is the Screenshots:
1.) Selecting Voice call option from Get Help Now page:
![screenshot 161](https://cloud.githubusercontent.com/assets/12209363/23585540/7f861bac-01a7-11e7-92f8-e745e5faa33e.png)

2.)Option for making a call which was showing before fixing the issue.
![screenshot 162](https://cloud.githubusercontent.com/assets/12209363/23585548/a1307d56-01a7-11e7-93ad-35580b4e46d7.png)

[2017-03-05 08:06] #98 closed

[2017-03-05 08:06] fatimarafiqui opened #106 "Move form tag from <head> to <body>"
In login.php and registration.php the form tag lies inside the head tag, while it should be inside the body tag.
According to html/css guidelines and standards only the following elements can only go inside the <head> element :
   - title
   - style
   - base
   - link
   - meta
   - script
   - noscript

When the parser sees the form tag, it automatically closes the head element, creates the body

[2017-03-05 08:07] AkankshaBodhankar commented on #79
Okay. But, for starters you can claim two files and start working on them.

[2017-03-05 08:11] AkankshaBodhankar commented on #78
Okay. Fix this

On Sun, Mar 5, 2017 at 1:30 PM, Dhara Vihol <notifications@github.com>
wrote:

[2017-03-05 08:14] Dhara159 commented on #78
I have fixed this by adding document.body.appendChild(form); before form.appendChild(input); in twilio-call.js and twilio-sms.js on line no. 15. because form.appendChild(input) was using form element.

[2017-03-05 08:50] AkankshaBodhankar commented on #78
Alright. Will you change them and send a PR or you want me to do it?

On Sun, Mar 5, 2017 at 1:44 PM, Dhara Vihol <notifications@github.com>
wrote:

[2017-03-05 08:52] Dhara159 commented on #78
Okay. I'll do it. Thank you for your help :)

[2017-03-05 09:01] shreyans29 opened #107 "Database file not creating the database."
Hi the procedure for setting up a new database is to first create database called pcsa_web. If Instead of this we create database if it doesn't exist every time SQL is run it would be more easier.

[2017-03-05 09:03] shreyans29 opened #108 "Shifting logged in as name to a new line."
I previously added a name to logged in as file. But in cases where name is long, it overflows.  To prevent that we need to shift it to a new line.

[2017-03-05 09:04] shreyans29 opened #109 "Show Password strength checker when the cursor is placed on password input"
Password strength checker  appears before we even start typing.

[2017-03-05 09:06] Raxerz opened #110 "Highlighting the option selected in the navigational sidebar"
Right now, selecting an option in the navigational side bar opens a new page and the selected option is not being highlighted.
It will be better for the user to know which option he has selected  or which page he is on.
![screenshot from 2017-03-05 14 32 16](https://cloud.githubusercontent.com/assets/16686007/23585931/8e7046c0-01b0-11e7-86eb-3a5f6542b2ec.png)

The above page is the "Personal Secur

[2017-03-05 09:11] fatimarafiqui commented on #109
@shreyans29 It is already there.

[2017-03-05 09:14] shreyans29 commented on #109
yes @fatimarafiqui  what I wanted to say was it should come when we type at least one letter. It comes as soon as we click on it.

[2017-03-05 09:20] Raxerz opened #111 "Minor bug in registration form page"
The placeholder for email is incorrectly spelled as "xyz@gmail.xom" and needs to be changed to xyz@gmail.com.

Also, I suggest that it is changed to something more generic like "Enter your email address" for the placeholder text. The other fields' placeholder can be changed as well as the current placeholder is a little misleading and to a naive user it gives a sense of data or text being entered

[2017-03-05 09:28] shreyans29 commented on #84
how about we add something like coming soon message when clicked.

[2017-03-05 09:43] shreyans29 commented on #109
![screenshot 978](https://cloud.githubusercontent.com/assets/8592568/23586200/58d76966-01b6-11e7-80c6-c30c23af071d.png)

[2017-03-05 09:44] shreyans29 commented on #109
This appears even before the user places the cursor on password input.

[2017-03-05 09:45] shreyans29 opened #113 "More readable error message when twillio unregistered."
When I click on Help me in circle of trust and click on any of the three Come get me, I need to talk or Call I need an Interruption, It gives an unreadable error message. Should I replace it with a simpler message like twillio not registered.
![capture](https://cloud.githubusercontent.com/assets/8592568/23586210/833824d4-01b6-11e7-8c53-95174005ae45.PNG)

[2017-03-05 09:46] fatimarafiqui commented on #111
@Raxerz I agree. Placeholders are a little misleading.

[2017-03-05 09:53] Dhara159 opened #114 "Give button to Login page on registration.php"
As we have link to registration page on the login.php. So, when user go to registration.php by mistake or want to go back to the login page, for that we should give both the options on both of the page login.php and registration.php as user don't has to go through the link.

[2017-03-05 09:55] shreyans29 opened #115 "Url twilioSMS twilioCall and groupsms php files appearing directly through URL."
What i observed in the code is that, it will load the from backend we get a blank number and error if trying to go to this url directly.
![screenshot 979](https://cloud.githubusercontent.com/assets/8592568/23586270/e34e3b8c-01b7-11e7-969c-e03217000d42.png)

[2017-03-05 09:55] shreyans29 opened #116 "Unreadable error message on Circle of trust when Internet connectivity loss."
When the internet connection is lost and circle of trust, call options are clicked. The error messages are quite unreadable. Can I replace it with "Check your connection and try again."

[2017-03-05 10:02] Dhara159 commented on #115
Have you set To number as suggested in readme file

[2017-03-05 10:03] AkankshaBodhankar commented on #108
![screenshot 975](https://cloud.githubusercontent.com/assets/14356938/23586344/0b3b0d04-01b9-11e7-9528-68fce000f190.png)

[2017-03-05 10:05] fatimarafiqui opened #117 "Refactor circleOfTrustMessage.js"
In circleOfTrustMessage.js the same code is written multiple times. We can instead parameterise it and avoid the redundancy.
This would minify the code to enhance the page load speed and improvise it for the better, specially for countries like Uganda, where we have slower internet connectivity.

<img width="953" alt="refactor" src="https://cloud.githubusercontent.com/assets/13470643/23586307/67cb

[2017-03-05 10:08] Dhara159 opened #118 "Set maximum length of Username can be entered"
At the time of registration we can insert much long value for username. So there should be some constraint for this problem.
![screenshot 166](https://cloud.githubusercontent.com/assets/12209363/23586394/d6f80c12-01b9-11e7-9e6c-39a83810a5b3.png)

[2017-03-05 10:26] shreyans29 commented on #115
@Dhara159  No that is not the issue. The issue is we are not supposed to be directly visiting the pages mentioned. It should only be accessible by clicking the button.

[2017-03-05 10:30] fatimarafiqui opened #119 "Store Twilio credentials in a separate file"
Currently twillio credentials are stored in three different files: twilioSMS.php, twilioCall.php and groupsms.php.
We should store the credentials in a separate file due to following reasons:

1. It is cumbersome to copy paste and maintain the credentials at three different locations.
2. Someone can by mistake commit his/her credentials in the PR, thus we can maintain the file in gitignore file to

[2017-03-05 10:38] Dhara159 opened #120 "Make better UI for Circle of Trust Page"
On the circleOfTrust.php page, there is an icon of pencil by clicking on which we can go to page where we can edit the contact no. list. And there is a button of Help me and 6 icon of people which are unnecessary.

Suggested design of new page:
1.) Remove Pencil icon and directly show the UI like editComrades.php
2.) Set left orientation for SAVE button and on the right side we can have HELP Me bu

[2017-03-05 10:48] Dhara159 commented on #115
Oh, yes. you are right. i got it.

[2017-03-05 10:52] Dhara159 opened #121 "Give correct path for dragscroll.js on personalSecurityStrategies.php page"
![screenshot 169](https://cloud.githubusercontent.com/assets/12209363/23586675/de467430-01bf-11e7-8224-fa6df95b96b5.png)

[2017-03-05 10:57] fatimarafiqui opened #122 "Warning : Issue on login"
I come across this warning while logging in. Is someone else getting the same error?

<img width="1272" alt="warning" src="https://cloud.githubusercontent.com/assets/13470643/23586702/940a933c-01c0-11e7-833e-386100f74ccb.png">

[2017-03-05 11:01] fatimarafiqui commented on #120
@Dhara159 I suggested a similar UI enhancement issue. But, as @AkankshaBodhankar told me, this is how peace corps wanted it to be. Moreover, the UI is also in sync with the android application.

[2017-03-05 11:01] Dhara159 commented on #122
nope. Not untill now.

[2017-03-05 11:02] Dhara159 commented on #120
okay. Thanx.

[2017-03-05 11:11] Dhara159 opened #123 "Missing design.css file from project folder."
On the commonalitiesOfSexualPredators.php page load, design.css file should be loaded but it is not in the /css files folder or not in main folder. Should we remove the code for loading that file?

[2017-03-05 11:18] fatimarafiqui commented on #122
Procedure has some issue so I had to reinstall the db setup. Fixed.

[2017-03-05 11:18] #122 closed

[2017-03-05 11:26] fatimarafiqui opened #124 "Favicon can be added"
A favicon can be added as it can be easily recognised. It displays our brand as a sign of trust. Differentiate our website, It looks polished and professional (this builds trust and credibility).

<img width="1280" alt="screen shot 2017-03-05 at 16 49 49" src="https://cloud.githubusercontent.com/assets/13470643/23586836/ffe2575e-01c3-11e7-838b-ca5eaac8500d.png">

Examples:
<img width="220" alt="sc

[2017-03-05 11:29] AkankshaBodhankar commented on #120
@Dhara159  what @fatimarafiqui is saying is right. If we get any further requirements for improvement from the peace corps we will incorporate them.

[2017-03-05 11:29] #120 closed

[2017-03-05 11:30] AkankshaBodhankar commented on #124
Sure. I'll keep this as a suggestion and once we get the icon which the peace corps wish to use we can reopen the issue.

[2017-03-05 11:30] #124 closed

[2017-03-05 11:33] AkankshaBodhankar commented on #121
@Dhara159 We have not yet incorporated dragscroll in this module. The requirement for this page can be different and we will work on it once we know how this page should be implemented.

[2017-03-05 11:33] #121 closed

[2017-03-05 11:35] AkankshaBodhankar commented on #123
Remove the link from this php file.

[2017-03-05 11:38] AkankshaBodhankar commented on #117
We have tried removing the redundancy but, it worked the best this way because this file is called multiple times. What solution do you think will reduce this redundancy? mention it in detail.

[2017-03-05 11:38] AkankshaBodhankar commented on #116
Sure. Can you post a screenshot ?

[2017-03-05 11:39] fatimarafiqui commented on #124
@AkankshaBodhankar The icon used in the left menu panel, is generally used as favicon. Also I would request you to keep the issues open and put a 'on-hold' tag on it, so that it becomes easier for me to get back to a open issue. Closed issues lose existence. Once you feel that issue will no longer serve the purpose you can close it.

[2017-03-05 11:39] AkankshaBodhankar commented on #115
Looks valid. You can proceed. are you planning to use sessions?

[2017-03-05 11:40] AkankshaBodhankar commented on #111
Fix this.

[2017-03-05 11:41] AkankshaBodhankar commented on #110
I think this will do by the title which we provided. The UI has been strictly done with accordance to the requirements

[2017-03-05 11:41] #110 closed

[2017-03-05 11:43] AkankshaBodhankar commented on #117
@fatimarafiqui Please complete the issues which you have opened first. It is becoming unmanagable. Create the next one only once you complete the current ones.

[2017-03-05 11:44] AkankshaBodhankar commented on #116
@shreyans29 Complete the issues which you have created until now and then you can create new ones. It's becoming unmanageable.

[2017-03-05 11:45] AkankshaBodhankar commented on #123
@Dhara159 Complete the issues which you have created until now and then you can create new ones. It's becoming unmanageable.

[2017-03-05 11:45] AkankshaBodhankar commented on #119
Where do you plan to store them?

[2017-03-05 11:46] fatimarafiqui commented on #117
Instead of using id, we can use classes. The difference between them is an id is unique while a class can be reused multiple times on a page. If you allow me to proceed with this, I can fix it and the number of lines will reduce to one third making it modular.

And, sure. I thought I can solve issues simultaneously. I found these issues while solving the issues you assigned to me. I will surely ke

[2017-03-05 11:48] fatimarafiqui commented on #119
I am planning to store them in a separate file in services, or can create a separate directory named 'includes' and then the path of that file can be added to gitignore.

[2017-03-05 11:56] fatimarafiqui commented on #106
@AkankshaBodhankar shall I begin with this?

[2017-03-05 12:41] Dhara159 commented on #123
Sorry for the inconvenience. I'll complete the remaining first.

[2017-03-05 13:17] fatimarafiqui opened #125 "Missing session_start from login.php"
There is no session_start function in login.php and this redirects you back to login.php. I encountered this while fixing #48 @AkankshaBodhankar . I will be creating a single PR to solve both of them.

[2017-03-05 13:38] fatimarafiqui commented on #125
Sorry, It was my mistake.

[2017-03-05 13:38] #125 closed

[2017-03-05 13:54] shreyans29 commented on #116
sure I will stick to the issues I posted. Here is the screenshot
![capture](https://cloud.githubusercontent.com/assets/8592568/23587795/621d30a0-01d9-11e7-8a02-8f033be351d7.PNG)

[2017-03-05 20:25] Dhara159 commented on #123
Removed the link from commonalitiesOfSexualPredators.php file.

[2017-03-05 20:31] Dhara159 commented on #118
I have set the maximum length of username 12 as of now. can you suggest me that what should be the length of the username actually @AkankshaBodhankar

[2017-03-05 20:36] Dhara159 commented on #91
I have added keep me logged in functionality. In which user logs out automatically if user didn't select **Keep me logged in** Option. But if user has selected option, user will be actively logged in for some time. Here i set the time for 1 hour. So, can i make PR for this @AkankshaBodhankar

[2017-03-05 21:23] Dhara159 commented on #114
Added the button for the login.php on the registration.php.
![screenshot 175](https://cloud.githubusercontent.com/assets/12209363/23591556/084fe4e8-0218-11e7-9972-9a21a7358834.png)

[2017-03-06 03:43] VictorAlagwu commented on #70
will be working on this towards the end of thiss week, i have exams to write

[2017-03-06 04:54] #102 closed

[2017-03-06 04:55] AkankshaBodhankar commented on #106
I'll look into it solve the other issues you have opened

[2017-03-06 05:50] fatimarafiqui commented on #118
@Dhara159 Isn't 12 less for username. My github username exceeds 13 characters. Maybe you can increase it to something between 20-25. @AkankshaBodhankar what do you suggest?

[2017-03-06 06:15] #48 closed

[2017-03-06 07:07] AkankshaBodhankar commented on #123
send a PR

[2017-03-06 14:12] #72 closed

[2017-03-06 14:12] #111 closed

[2017-03-06 14:16] Raxerz opened #130 "Changing cursor to pointer on hovering over "Sign in to Account" button on login page"
![screenshot from 2017-03-06 20 26 56](https://cloud.githubusercontent.com/assets/16686007/23615077/4696f064-02ab-11e7-981e-8ce94f734d58.png)

The cursor does not change to a pointer on hovering over the "Sign in to Account" button.

[2017-03-06 15:21] sudhachauhan opened #132 "Warning: mysqli_fetch_row() expects parameter 1 to be mysqli_result, boolean given"
![screenshot 117](https://cloud.githubusercontent.com/assets/17814636/23616103/9c71018e-02ae-11e7-8054-d3fe697a77ae.png)

Anyone getting this error?

[2017-03-06 16:02] sudhachauhan opened #133 "TYPO"
![screenshot 119](https://cloud.githubusercontent.com/assets/17814636/23617817/4f70ff46-02b4-11e7-9cc4-b50220cc788a.png)
![screenshot 118](https://cloud.githubusercontent.com/assets/17814636/23617818/4f734846-02b4-11e7-9eac-c318f1a2cdec.png)

Can I send a PR?

[2017-03-06 16:10] AkankshaBodhankar commented on #132
@sudhachauhan This will resolve with #107

[2017-03-06 16:10] #132 closed

[2017-03-06 16:11] sudhachauhan opened #134 ""Drag to move" pages"
Among all the pages having this feature only radar.php is showing pop up for this feature.
Is this due to some particular reason or do we need to include it on all the relevant pages?
If not,
Suggestion: pop up on many pages can be irritating sometimes, so can we show some text on these pages?
What is your suggestion? @AkankshaBodhankar
![screenshot 120](https://cloud.githubusercontent.com/assets/

[2017-03-06 16:15] AkankshaBodhankar commented on #134
@sudhachauhan We have kept this to make the UI understandable and we are still planning on many UI aspects including this

[2017-03-06 16:15] #134 closed

[2017-03-06 16:20] AkankshaBodhankar commented on #69
@sudhachauhan Solve this and then go for other issues. This is a valid issue. Add the link below the submit button.

[2017-03-06 17:03] #109 closed

[2017-03-06 17:05] AkankshaBodhankar commented on #130
Yes you can do this.

[2017-03-06 17:15] #97 closed

[2017-03-06 17:41] Dhara159 commented on #118
Yes. But I've just put that value only for checking purpose. I'll change the value  as per @AkankshaBodgankar say.

[2017-03-07 04:49] #130 closed

[2017-03-07 04:49] #104 closed

[2017-03-07 06:11] shreyans29 opened #137 "Database accepting empty values in registration page. (Backend Validations required)"
There are no back end validations on the portal. The front end validations can be removed from the browser. The password check can be disabled by disabling the javascript in browser. I did it and clicked on register and this was created in the database.
![capture](https://cloud.githubusercontent.com/assets/8592568/23643973/efe3737a-032a-11e7-8a27-02a84d09dc09.PNG)

[2017-03-07 07:04] #107 closed

[2017-03-07 07:09] shreyans29 opened #140 "Changing Database Name"
PCSA-web is an old name for this project. It is better if we change it to FirstAide-web ASAP so that it wont create any confusion in future files.

[2017-03-07 07:11] shreyans29 opened #141 "Changing database documentation"
With issue #107 and issue #140  we would have to bring some changes in readme file, so that every one can understand the procedure for setting up database.

[2017-03-07 07:12] shreyans29 commented on #141
@AkankshaBodhankar  Sorry for creating issues without solving the previous ones but I felt they would be very important to avoid redundant work.

[2017-03-07 07:12] AkankshaBodhankar commented on #141
@shreyans29 Please resolve other issues, there are many issues which you have opened and unresolved.

[2017-03-07 07:13] shreyans29 commented on #141
@AkankshaBodhankar  Sorry for creating issues without solving the previous ones but I felt they would be very important to avoid redundant work.  Will solve it ASAP.

[2017-03-07 08:51] AkankshaBodhankar commented on #118
@Dhara159 Use 25

[2017-03-07 11:35] shreyans29 opened #146 "Adding placeholder in login page."
Place holders can be added in login page just like in registration page.

[2017-03-07 12:02] sudhachauhan commented on #69
![screenshot 121](https://cloud.githubusercontent.com/assets/17814636/23655674/fda631ba-035b-11e7-9e31-ec851ef9ec9f.png)
is this fine?

[2017-03-07 12:38] #108 closed

[2017-03-07 13:15] AkankshaBodhankar commented on #69
The already have an account and sign in should be in one line
On Mar 7, 2017 5:32 PM, "sudhachauhan" <notifications@github.com> wrote:

[2017-03-07 13:59] AkankshaBodhankar commented on #113
Resolved in #148

[2017-03-07 13:59] #113 closed

[2017-03-07 15:34] Raxerz opened #149 "Duplicate usernames are being accepted on registration"
Usernames are supposed to be unique but duplicate usernames are being accepted.

[2017-03-08 07:40] fatimarafiqui commented on #22
Can I take loginandRegistration.css?

[2017-03-08 08:12] shreyans29 commented on #115
No, I was actually planning to check for post variables. It solved it that way, it works fine.

[2017-03-08 13:36] #115 closed

[2017-03-08 15:25] AkankshaBodhankar commented on #124
We lose track of the issues currently being worked on and the suggestions are forwarded to peace corps which takes a long time. We always reopen the issue once it is required.

[2017-03-08 15:55] Raxerz opened #154 "Password is not encrypted before storing it in the database."
Passwords are not encrypted currently, this can cause security issues.

[2017-03-08 16:09] fatimarafiqui commented on #154
@Raxerz It has already been fixed #126

[2017-03-08 16:18] Raxerz commented on #154
Oh I guess I missed that. Thanks for bringing it to my notice @fatimarafiqui .
I'll close the issue now.

[2017-03-08 16:19] #154 closed

[2017-03-08 18:56] fatimarafiqui opened #157 "Documentation for setting up reCaptcha credentials"
In settings.php, the user needs to enter his/her google reCaptcha credentials to make it work on the localhost. Documentation needs to be updated to explain the same.

[2017-03-08 19:00] fatimarafiqui commented on #119
#156 This is what I meant, I have stored the google reCaptcha credentials in a separate file (includes/setting.php)

[2017-03-08 20:28] Dhara159 opened #163 "User has to refill all the details if error occurs on registration page"
@AkankshaBodhankar When user tries to register the form and during registration if any error occurs, user has to refill all the form detail again. So, can we do such thing like user has to fill only that detail where validation was failed. and other detail would be same as filled up.

[2017-03-08 22:17] sudhachauhan commented on #11
If it's still open to be solved , I would like to take it. @AkankshaBodhankar

[2017-03-08 22:22] sudhachauhan commented on #59
Can I take popup.js ?

[2017-03-09 03:45] shreyans29 commented on #116
Solved with issue #113, PR #148

[2017-03-09 03:45] #116 closed

[2017-03-09 03:54] shreyans29 opened #164 "The menu drop down closes as soon as an option is clicked."
In the menu at the left hand side, when a option is clicked from drop down. Say Safety tools and then radar, the drop down closes and selecting other options requires extra effort.

[2017-03-09 05:43] fatimarafiqui opened #166 "Readme file getting too large, Switch to Distributed documentation"
Due to a large number of enhancements and additions in the project documentation the Readme file has become quite large. We can have a distributed documentation, where we can include contribution guidlines, Database setup etc in different files. @AkankshaBodhankar

Something like this systers repository: https://github.com/systers/macc

[2017-03-09 06:02] Dhara159 opened #167 "Add Show/Hide password option on login and register page"
User should be able to check or verify his/her password by show/hide option on login or register page. Can i add the show/hide functionality on login and register page @AkankshaBodhankar

[2017-03-09 07:32] fatimarafiqui opened #168 "Open source LICENSE missing."
It is said often that "Open source simply isn't open source without a proper license. Unless we have explicitly told others that they can modify and reuse our work, We've only showed others our code, We haven't shared it."

We can add MIT license as it is most widely used across all open source projects.

<img width="708" alt="screen shot 2017-03-09 at 13 01 04" src="https://cloud.githubuserconten

[2017-03-09 17:07] fatimarafiqui opened #169 "Placeholders partially visible"
Placeholders are partially visible on the registration page. This needs to be fixed.

<img width="294" alt="screen shot 2017-03-09 at 22 35 40" src="https://cloud.githubusercontent.com/assets/13470643/23761484/f2e2c086-0518-11e7-8f44-e19d91054b21.png">

[2017-03-10 10:14] AkankshaBodhankar commented on #166
Yes good suggestion. There is one guy who has reported this here #45, which is a subset of this issue. I will get back to you with what files need to be created.

[2017-03-10 10:15] #69 closed

[2017-03-10 10:21] #146 closed

[2017-03-10 10:24] AkankshaBodhankar commented on #168
@fatimarafiqui I'll have to discuss this issue with others in the community and how other repositories work.

[2017-03-10 10:36] AkankshaBodhankar commented on #167
@Dhara159 I feel the site will be more secure if we don't do that. We are adding the confirm password field and also forgot password options to ensure the user can restore the password.

[2017-03-10 10:36] #167 closed

[2017-03-10 10:38] #78 closed

[2017-03-10 10:44] AkankshaBodhankar commented on #164
Okay you suggest to keep that dropdown open right?

[2017-03-10 10:47] AkankshaBodhankar commented on #163
@Dhara159 Right now, if any errors are occurring then on the registration page the text box of invalid data shows a red mark and the user only fills the required data. In the login page we are using. And this is a duplicate issue go through the previously closed issues before a creating new one. See #94

[2017-03-10 10:49] AkankshaBodhankar commented on #149
@Raxerz We have a unique email for identifying the user, if we use the username to login as well then we can do this and right now the length for username is also fixed to 25 which may not give many options. I will keep this as a suggestion. This is a duplicate issue go through the previous issues which have been created before creating a new one. See #94

[2017-03-10 10:49] #149 closed

[2017-03-10 10:50] AkankshaBodhankar commented on #157
Can you elaborate?

[2017-03-10 10:51] AkankshaBodhankar commented on #169
What changes will you do to resolve this?

[2017-03-10 10:56] AkankshaBodhankar commented on #11
@sudhachauhan Not right now.

[2017-03-10 10:56] AkankshaBodhankar commented on #59
@sudhachauhan Okay

[2017-03-10 10:58] AkankshaBodhankar commented on #133
Just change the strategies I'll let you know about the second one later.

[2017-03-10 11:14] fatimarafiqui commented on #166
@AkankshaBodhankar sure.

[2017-03-10 11:49] fatimarafiqui commented on #169
We can increase the text box size to a few points and align them altogether  to make the placeholders fully visible and also align it to the country list dropdown. @AkankshaBodhankar

[2017-03-10 11:54] #63 closed

[2017-03-10 12:01] AkankshaBodhankar commented on #169
@fatimarafiqui This is working fine in my pc. It may be a issue at your end and also because the portal is not responsive. We will do this along with the issue #42 making app responsive.

[2017-03-10 12:01] #169 closed

[2017-03-10 12:04] AkankshaBodhankar commented on #119
Okay resolve this.

[2017-03-10 12:05] AkankshaBodhankar commented on #157
This will be done after #62 is closed

[2017-03-10 12:06] #64 closed

[2017-03-10 13:14] fatimarafiqui commented on #106
@AkankshaBodhankar Any updates on this?

[2017-03-10 13:56] fatimarafiqui commented on #168
@AkankshaBodhankar  Sure, I am giving you systers repository links for the ones having it, Just in case you need them.

[1] https://github.com/systers/vms/blob/develop/LICENSE
[2] https://github.com/systers/slack-systers-opensource/blob/master/LICENSE
[3] https://github.com/systers/pchub/blob/develop/LICENSE

[2017-03-10 13:58] AkankshaBodhankar commented on #168
Nice. I'll go through them.

On Fri, Mar 10, 2017 at 7:26 PM, Fatima Rafiqui <notifications@github.com>
wrote:

[2017-03-10 14:25] shreyans29 opened #171 "Username regular expression needs changes."
Username doesn't accept something like this " abc123def ". The regular expression has to be changed accordingly.

[2017-03-10 15:19] Dhara159 commented on #163
No @AkankshaBodhankar. This is my mistake. I have not specified the actual issue. Actually, what I wanted to say is there is no duplicate entry allowed for email-id. So, user don't has to refill all the data when any other error occurs. But if user try to enter duplicate entry for email-id then a pop-up shows with validation message of email-id. And after that user returns to registration page and

[2017-03-10 19:02] Raxerz opened #172 "Alerting users on entering data in the wrong format."
Right now, only the border of the field changes to red when a user enters data in the wrong format on the registration page.
I suggest in addition to changing the color of the border, alerting the error can help the user to correct it.

[2017-03-11 07:07] AkankshaBodhankar commented on #171
Yes, I've noticed this. You can go ahead.

[2017-03-11 10:19] shreyans29 opened #174 "Change the design of dropdown"
The css for the new drop down which has been added can be changed to the design of the dropdown  as in the below screenshot.

![screenshot 993](https://cloud.githubusercontent.com/assets/8592568/23822370/e48ad56e-0671-11e7-8b3b-ad83de3b7e36.png)

![screenshot 992](https://cloud.githubusercontent.com/assets/8592568/23822369/e4872b94-0671-11e7-8aef-c58909493c34.png)

[2017-03-11 10:21] shreyans29 opened #175 "Refactor the script to a new file"
Instead of having the script in the html page we can put it in a separate file as in the below screenshot of the file registration.php

![screenshot 994](https://cloud.githubusercontent.com/assets/8592568/23822434/9b62df02-0672-11e7-9943-eaf12e4cb088.png)

[2017-03-11 17:06] #137 closed

[2017-03-11 17:07] #133 closed

[2017-03-11 21:26] Dhara159 commented on #118
I have also set the validation rule which is >4 and <26 in js validation.

[2017-03-11 22:10] Dhara159 commented on #163
1.)
![screenshot 182](https://cloud.githubusercontent.com/assets/12209363/23827233/dd86df8e-06d4-11e7-8020-7c47e89647cb.png)
2.)
![screenshot 183](https://cloud.githubusercontent.com/assets/12209363/23827241/e8c34978-06d4-11e7-83ff-f4015fe0a96a.png)
3.)
![screenshot 184](https://cloud.githubusercontent.com/assets/12209363/23827242/ef6c7cb8-06d4-11e7-9eb0-df7e17e10e90.png)
So, what's happening now

[2017-03-11 22:26] Dhara159 opened #177 "Add loader during long response time"
This issue is specially for the calling and sms. when user press the button for calling or message, it takes three or four seconds to response Specially on **Circle of trust** page. There is no such loader. On **Get help now** we can see that page is loading by watching on the left side of the tab header. So, can we use such loader to show that his/her response is getting submited?

[2017-03-12 10:45] mani-rao commented on #59
Hey. Can I take PCMOpopup.js?

[2017-03-12 17:27] fatimarafiqui opened #179 "Change collation selection : utf8_general_ci"
Currently while using MySQL with Php we use the default collation i.e latin_swedish_ci . We can change it to utf8_general_ci for better encoding of characters.
<img width="548" alt="screen shot 2017-03-05 at 17 50 30" src="https://cloud.githubusercontent.com/assets/13470643/23834133/3d8baeb2-0777-11e7-90b3-97ae3c4cd1c6.png">

Reference Link : [What is the best collation to use for MySQL with PHP?]

[2017-03-12 17:41] sunakshi96 commented on #59
Hey ,
Can I take circleOfTrustMessage.js  for this task ?

[2017-03-13 04:58] AkankshaBodhankar commented on #174
Yes you can go ahead with this.

[2017-03-13 04:59] AkankshaBodhankar commented on #172
We can do this but instead of alerting we can show a text message like in password strength checker.

[2017-03-13 05:00] AkankshaBodhankar commented on #175
Okay do this.

[2017-03-13 05:01] AkankshaBodhankar commented on #177
It's a valid issue. What do you plan to do for this?

[2017-03-13 05:02] AkankshaBodhankar commented on #179
Yes. I've tried doing this while development the last time but I was facing some issue so I had to revert back to latin. You can give it a shot but make sure everything is working fine.

[2017-03-13 08:41] #62 closed

[2017-03-13 08:42] AkankshaBodhankar commented on #140
Solved.

[2017-03-13 08:42] #140 closed

[2017-03-13 12:40] fatimarafiqui commented on #157
@AkankshaBodhankar This must be fixed ASAP as #156 has been merged. Can I send a PR?

[2017-03-13 14:18] AkankshaBodhankar commented on #157
Okay
On Mar 13, 2017 6:10 PM, "Fatima Rafiqui" <notifications@github.com> wrote:

[2017-03-13 14:19] Raxerz commented on #172
Yeah showing a text message would be better. I will go ahead and implement it.

[2017-03-13 14:22] AkankshaBodhankar commented on #172
Okay.
On Mar 13, 2017 7:49 PM, "Raxerz" <notifications@github.com> wrote:

[2017-03-13 14:59] Raxerz opened #181 "Change database name to new database name in readme file"
The old database name (pcsa_web) in README.md has not been replaced with the new name (firstaide_web)

[2017-03-14 15:36] fatimarafiqui opened #184 "Redirect all non working menu options to 'To be added soon' page"
Many options such as PeaceCorpse Policy Summary Sheet, Glossary etc have not been added, but the link is redirected to the page itself, that gives a feeling of a non working link to a new user. We can redirect all such pages temporarily to page named a  comingsoon.php for better user experience, until the features are actually implemented.

@AkankshaBodhankar  Something like this -
<img width="128

[2017-03-14 17:48] Dhara159 commented on #163
Is that okay or should we sort out this?

[2017-03-14 19:31] fatimarafiqui opened #185 "Incorrect alert on twilioSMS.php when Twilio not setup"
When twilio is not setup, the alert must show 'Service Unavailable' as it has been fixed for other page.
But it shows this alert -
<img width="1273" alt="screen shot 2017-03-14 at 21 27 38" src="https://cloud.githubusercontent.com/assets/13470643/23918908/c93225b4-091a-11e7-9c79-006adb3b3933.png">

@AkankshaBodhankar This can be fixed.

[2017-03-14 19:35] fatimarafiqui opened #186 "More readable alert on twilioCall.php when twilio not setup."
This can also be fixed like it has been fixed for circle of trust in #113.

<img width="1256" alt="readable_message" src="https://cloud.githubusercontent.com/assets/13470643/23919080/6ffd2e16-091b-11e7-9f96-07e6208cfcd9.png">

[2017-03-14 19:41] fatimarafiqui opened #187 "Unnecessary output of country list json in console : Remove console.log()"
Due  to console.log() , the whole json of country list is being shown in console. This should be removed, as it has been left by mistake while testing.

<img width="1260" alt="remove console" src="https://cloud.githubusercontent.com/assets/13470643/23919271/43a8d616-091c-11e7-87b3-bb5f37e6f765.png">

[2017-03-15 03:38] AkankshaBodhankar commented on #185
This is a different message. This is because 6666 is not a valid number.
It's not an issue it's a feature. We have put different messages according
to what the problem can be in the alert.
On Mar 15, 2017 1:01 AM, "Fatima Rafiqui" <notifications@github.com> wrote:

[2017-03-15 03:38] #185 closed

[2017-03-15 03:41] AkankshaBodhankar commented on #184
As we are going to implement the new pages soon this won't be necessary.
When the new pages will be added it will be convinent for the developer to
start coding and creating files according to the format and specifications
which will be used then. This would be a valid issue if we had thought
about it before few months back but now as the net development cycle is
very close this won't be necessary

[2017-03-15 03:42] #184 closed

[2017-03-15 04:42] AkankshaBodhankar commented on #181
This is a duplicate issue. #141

[2017-03-15 04:42] #181 closed

[2017-03-15 04:48] AkankshaBodhankar commented on #163
@Dhara159 You can go ahead with this.

[2017-03-15 05:24] fatimarafiqui commented on #185
@AkankshaBodhankar In that case I am unable to edit the number while clicking Contact PCMO, Contact SSM etc. The numbers shown are 5555 , 4444 etc. Also I have removed the twilio setup and still I get the same error.

Dont you think, in the case where twilio is not setup it should say service unavailable and after setup it should say 'Invalid phone number'

Also, please tell me if these phone numb

[2017-03-15 05:31] fatimarafiqui commented on #184
@AkankshaBodhankar Okay. I agree with you.

[2017-03-15 05:39] AkankshaBodhankar commented on #187
@fatimarafiqui Okay. Next time while  resolving a issue try not to leave such unnoticed errors.

[2017-03-15 05:40] AkankshaBodhankar commented on #186
Okay. Follow the same procedure for changing the code as done in #113

[2017-03-15 05:47] AkankshaBodhankar commented on #187
@fatimarafiqui Resolve the issues as fast as possible. I understand the problem of duplicate issues but during the next development cycle many issues must not be unresolved in the repo. Work on the ones which you have created in this week.

[2017-03-15 05:47] AkankshaBodhankar commented on #175
@shreyans29  Resolve the issues as fast as possible. I understand the problem of duplicate issues but during the next development cycle many issues must not be left unresolved in the repo. Work on the ones which you have created in this week.

[2017-03-15 05:55] AkankshaBodhankar commented on #185
@fatimarafiqui These are the sample numbers which are used until we get the actual helpline numbers.

[2017-03-15 05:59] AkankshaBodhankar commented on #185
Also, service unavailable will be shown when there is no response from the backend. First the issue from the user end has to be resolved only then the backend comes into picture. We are showing the number message for the same reason. Once that is working okay then if we are not able to respond to the request then we show the service unavailable message.

[2017-03-15 06:10] fatimarafiqui commented on #187
@AkankshaBodhankar I will try to resolve the issues as soon as possible.

[2017-03-15 07:29] fatimarafiqui commented on #185
@AkankshaBodhankar Okay. I understood. Thanks!

[2017-03-15 08:20] Dhara159 commented on #177
Yes, I have some idea about this and i am trying to sort out by that method but i am also looking for some better solution.

[2017-03-15 10:30] shreyans29 commented on #164
yes

[2017-03-15 10:35] shreyans29 commented on #175
ok @AkankshaBodhankar  I will start solving them.

[2017-03-15 11:27] #187 closed

[2017-03-15 15:38] #164 closed

[2017-03-16 07:06] #114 closed

[2017-03-16 07:23] #118 closed

[2017-03-17 02:52] #141 closed

[2017-03-17 05:53] Dhara159 commented on #163
okay.

[2017-03-17 06:10] AkankshaBodhankar opened #192 "Complete the main modules"
Remaining modules:

Support Services
Sexual Assault Awareness
Policies and Glossary

[2017-03-19 07:54] sudhachauhan commented on #192
Can I take up this ?

[2017-03-19 07:56] AkankshaBodhankar commented on #192
This will be done during Gsoc 17

[2017-03-19 08:04] shreyans29 opened #194 "Changing Images in README file for documentation."
While changing the Database documentation the images were not changed it still mentions the name of database as pcsa_web while it should be changed to firstaide-web, Can I send a PR for this ?

[2017-03-19 08:06] AkankshaBodhankar commented on #194
@shreyans29 Yes.

[2017-03-19 10:27] anweshknayak commented on #58
@AkankshaBodhankar No. Feel free to assign to someone else

[2017-03-19 10:37] #194 closed

[2017-03-19 15:34] AkankshaBodhankar opened #196 "Comrade numbers are not getting saved"

[2017-03-19 16:35] #196 closed

[2017-03-20 19:00] Rupinderwadali commented on #42
@AkankshaBodhankar I am willing to work on this issue. I have some experience of responsive UI and will update you soon after the task assignment.

[2017-03-20 19:21] Rupinderwadali commented on #58
I setup the application on both the operating system. I am willing to work on this. Should I?

[2017-03-20 19:26] Rupinderwadali commented on #59
@AkankshaBodhankar I am willing to work on this task. Is this issue still need contribution? Please let me know if I can contribute.

Thanks

[2017-03-20 19:27] Rupinderwadali commented on #79
@AkankshaBodhankar Is this issue still up. Can I work on this issue?

[2017-03-20 22:14] Rupinderwadali commented on #171
@AkankshaBodhankar is @shreyans29 working on this issue? If not can I solve this issue?

[2017-03-21 05:32] AkankshaBodhankar opened #199 "Integrating with MACC"
**Description:**
FirstAide web needs to be Integrated with [macc app](https://github.com/systers/macc).
MACC is a web portal which can be used to update the static content of other applications. Firstaide web app has a lot of static content and there might be a need in future to update or edit the content. To do this, a peace corp volunteer can sign in to the MACC portal, select the Firstaide web

[2017-03-21 08:18] AkankshaBodhankar commented on #59
@Rupinderwadali Which file would you like to take up

[2017-03-21 08:19] AkankshaBodhankar commented on #58
@Rupinderwadali You can work on updating the readme for linux users

[2017-03-21 08:20] AkankshaBodhankar commented on #79
@Rupinderwadali You can pick one file.

[2017-03-21 08:20] AkankshaBodhankar commented on #157
@fatimarafiqui Are you working on this?

[2017-03-21 10:54] fatimarafiqui commented on #157
@AkankshaBodhankar Yes, submitting a PR in few hours.

[2017-03-21 12:56] #157 closed

[2017-03-21 14:15] fatimarafiqui opened #201 "Issue in markdown formatting, headings not getting rendered properly : Minor Bug"
The headings are not showing up properly in the README.md file due to spacing issue.
<img width="661" alt="screen shot 2017-03-21 at 19 41 36" src="https://cloud.githubusercontent.com/assets/13470643/24151491/f72f7f94-0e6e-11e7-9a89-dd97e1fcea0a.png">

@AkankshaBodhankar Can I fix it?

[2017-03-21 14:53] AkankshaBodhankar commented on #201
When has this problem arised? This was not happening before.
On Mar 21, 2017 7:45 PM, "Fatima Rafiqui" <notifications@github.com> wrote:

[2017-03-21 14:57] fatimarafiqui commented on #201
@AkankshaBodhankar I noticed it just after creating a PR for Recaptcha documentation. Then I rechecked the main develop branch to verify if it was done from my side. But, No. It might have arise from previous changes done to README.md

[2017-03-21 21:03] kamsuri opened #203 "Session should also be unset in logout.php before destroy"
By doing this session variable will be unset for the run-time

[2017-03-21 21:07] kamsuri commented on #201
![screenshot from 2017-03-22 02-36-13](https://cloud.githubusercontent.com/assets/14004808/24170921/7f4cb8ea-0ea8-11e7-9ea2-800223e6e25f.png)

[2017-03-21 21:16] kamsuri opened #204 "No check on username"
Username with only spaces that is a blank username is also acceptable in this code and also username having spaces is also acceptable. As u can see in the screenshot the first one is only spaces and in the second one it is invalid username as username should be of one word only
![image](https://cloud.githubusercontent.com/assets/14004808/24171220/8cd820c0-0ea9-11e7-8cd2-a9d0b2a9ab7a.png)

[2017-03-22 05:27] fatimarafiqui commented on #201
@kamsuri It is not showing fine in your screenshot as well. Hash must not be visible and the headings must be bold.
@AkankshaBodhankar This can be resolved by making ###Documentation -> ### Documentation. Just the spacing is missing.

[2017-03-22 05:28] fatimarafiqui commented on #204
@kamsuri @AkankshaBodhankar  This is a duplicate issue and similar to #171

[2017-03-22 05:31] kamsuri commented on #204
#171 is accepted but still there is problem with username.

[2017-03-22 05:39] AkankshaBodhankar commented on #204
This will be done in #171 and #137

[2017-03-22 05:39] #204 closed

[2017-03-22 05:40] AkankshaBodhankar commented on #201
@fatimarafiqui Do this.

[2017-03-22 05:58] Dhara159 commented on #203
@kamsuri i think this issue is fixed in #91.

[2017-03-22 11:47] kamsuri commented on #201
@fatimarafiqui I thought you were referring to the merging of headings with content, but now i got it.

[2017-03-22 18:03] sayedafif commented on #174
@AkankshaBodhankar The select box is having default styling. Hence it shows up differently in different browsers. We can either put an image icon for the arrow instead of the default arrow or we need to write CSS. Can I work on this?

[2017-03-23 04:32] kamsuri commented on #203
@Dhara159 I haven't seen any mention of this conflict in your isssue, your issue will be dealing with the keep me logged in feature. You can add this obviously but you haven't directly specified this glitch, it's just a coding technique not a feature. @AkankshaBodhankar should i submit its PR will it be dealt in #91.

[2017-03-23 04:58] AkankshaBodhankar commented on #174
@sayedafif Generally the person who creates the issue is assigned to it. You can go through the rules of contributing in the readme file. The issue you are mentioning will be resolved when the PR for this will be made. You can find more bugs in the project and create a new issue for it.

[2017-03-23 04:59] AkankshaBodhankar commented on #203
@kamsuri Can you elaborate?

[2017-03-23 05:44] Dhara159 commented on #203
okay. Got that @kamsuri .

[2017-03-23 12:50] kamsuri commented on #203
@AkankshaBodhankar In logout.php we are directly destroying the session but before that it should also be unset, as it will unset the session variable for the run time as well. It is just a way of improving our code.
What i am saying is just a one line code which needs to be added.

[2017-03-23 18:56] fatimarafiqui commented on #179
@AkankshaBodhankar After doing a lot of research, I found that MySQL collation cannot be altered once the database is created. It can only be changes at the time of database creation.
Hence I created the database using 'utf8_general_ci' and tested everything. Nothing breaks and it works absolutely fine.

<img width="947" alt="collation" src="https://cloud.githubusercontent.com/assets/13470643/2426

[2017-03-25 07:50] fatimarafiqui opened #208 "Update the Documentation for Twilio credentials stored in a file"
Documentation needs to be updated corresponding to #119 as soon as #207 gets merged for Twilio credentials that are stored in a single file.

[2017-03-25 18:34] fatimarafiqui commented on #199
@AkankshaBodhankar Could you please elaborate the integration process. Do we need to provide a link from MACC to FirstAide home page or integrate the whole Web app in MACC?

[2017-03-26 16:32] #25 closed

[2017-03-26 16:33] AkankshaBodhankar opened #209 "Update the circle of trust with the selected icons"
**Description:**
The icons will be selected and posted here soon. The circle of trust icons has to be updated with the new icons.

**Mocks:**
https://github.com/systers/FirstAide-web/blob/develop/project-docs/prj%20images/Screenshot%20(621).png
_Note: Final icons will be posted here_

**Content:**
NA

**Acceptance criteria:**
- The circle of trust should reflect the new approved icons
- Screenshot

[2017-03-26 20:08] mish24 commented on #199
@AkankshaBodhankar Hello! What's this about?? :) And how would this be done?

[2017-03-26 20:35] ReginaTL commented on #199
@AkankshaBodhankar I'm assuming that we are using this: https://github.com/systers/macc and we are using their API to connect to the backend, is this correct?

[2017-03-27 02:23] mani-rao opened #210 "Add a back button for the Get Help Now2 content pages"
The content on Get Help Now 2(PCSaves, Office of victim advocacy, Office of Inspector General and Office of Civil Rights and Diversity)  when clicked open to a description page where there could be a back button to navigate back to Get Help Now2 page. (As opposed to having to click on the sidebar menu)

[2017-03-28 13:54] fatimarafiqui commented on #208
@AkankshaBodhankar any updates on this? Shall I send a PR?

[2017-03-28 14:56] aparnavmenon commented on #71
Email ids in the database need to be validated. This has to be implemented by sending a computer generated email to every email id in the database. The user validates his email id by clicking on the computer generated link that has been mailed to the user.

[2017-03-28 15:42] aparnavmenon commented on #100
**Description**:
  Readability of code has to be enhanced by enforcing PHP coding standards.

**Mocks**:
PSR-2 coding standard, which is an industry wide accepted coding standard can be used.
Link: http://www.php-fig.org/psr/psr-2/

**Content**:
NA

**Acceptance criteria**:

- It is verified that the code conforms to the proposed industry standard.

-

[2017-03-28 16:15] AkankshaBodhankar commented on #199
Description:
Integrate with macc app https://github.com/systers/macc

Mocks:
NA

Content:
The content of the app can be changed dynamically using the MACC portal. Student has to collaborate with MACC team and get the data using rest.

Acceptance criteria:
The content should be updated from MACC which will reflect in the FirstAide web app

[2017-03-28 16:24] AkankshaBodhankar commented on #192
Description:
There are three modules which have to be completed.
Support Services
Sexual Assault Awareness
Policies and Glossary

Mocks:
https://github.com/systers/FirstAide-web/blob/develop/project-docs/prj%20images/slide-menu.jpg

Content:
The modules can be viewed above in the menu. The last menu items are the three modules. currently, these are not functional. Make them functional and add the

[2017-03-28 16:32] AkankshaBodhankar commented on #7
Description:
User persona displays the details of the users.

Mocks:
https://github.com/systers/FirstAide-web/issues/1 (The user persona prototype here)

Content:
NA

Acceptance criteria:
Add the feature and make a PR with appropriate screenshots.

[2017-03-28 16:40] AkankshaBodhankar commented on #42
Description:
Make the application responsive to fit all types of screen

Mocks:
http://mediaspawn.com/wp-content/uploads/2013/04/Responsive-Websites-on-Devices.jpg

Content:
Decide which technology will be appropriate, get the approval from mentors and make the app responsive

Acceptance criteria:
Add the feature and make a PR with appropriate screenshots.

[2017-03-28 16:44] AkankshaBodhankar commented on #84
Description:
The welcome page buttons are not functional. The requirement will be updated soon.

Mocks:
https://github.com/systers/FirstAide-web/blob/develop/project-docs/prj%20images/Screenshot%20(605).png

Content:
NA

Acceptance criteria:
Add the feature and make a PR with appropriate screenshots.

[2017-03-28 18:31] aparnavmenon commented on #166
**Description**

For enhancing readability, the Readme file has to be broken down into chunks, that is, switch to distributed documentation.

**Mocks**

https://github.com/systers/macc

**Content**

NA

**Acceptance criteria**

The Readme file will be evaluated based on the criteria of readability,clarity, understanding and ease of navigation to sections.

[2017-03-28 19:42] aparnavmenon commented on #96
**Description:**
The application needs a user friendly UI that accepts information like email, password and mobile number. This information has to be stored to the database.

**Mocks**
Students are encouraged to get creative with the mock ups. Looking for aesthetic designs that show industry trend awareness and balance.

**Content**
"Email id"
"Password"
"Phone number"
"Submit"

**Acceptance crite

[2017-03-28 20:03] aparnavmenon commented on #11
**Description**
Data must be pulled from https://docs.google.com/spreadsheets/d/1frBRKGuSTuTLIk3K99bqd6SbE4VpMew4gUS7m7Dvc0w/edit#gid=0 and the database must be updated to reflect the latest data, regarding the list of countries and current contact information.

**Mocks**
NA

**Content**
NA

**Acceptance criteria**

- All information in the spreadsheet must be correctly reflected in the database s

[2017-03-30 01:23] safrin96 commented on #22
Hi, Can i take safety-tools.css ? Also i wanted to submit a GSoC proposal for first-aide project. so do i do it with this issue?

[2017-03-30 01:28] safrin96 commented on #79
Hi, Can i pick circleOfTrust.php?

[2017-03-30 02:25] safrin96 commented on #209
Hi, Can i work on it and use it for the GSoC proposal?

[2017-03-30 15:27] AkankshaBodhankar commented on #210
@mani-rao I think this might create redundancy as the user can navigate to the get help now main section using the menu. If we add a back button for it then, we will have to add it for other similar modules as well. Also, the UI will be much cleaner this way.

[2017-03-30 15:27] #210 closed

[2017-03-30 15:44] AkankshaBodhankar commented on #209
@safrin96 You can include this in your proposal. All the GSOC 17 labeled issues will be resolved during the GSOC period.

[2017-03-30 16:02] #201 closed

[2017-03-30 16:03] #186 closed

[2017-03-30 16:51] ReginaTL commented on #7
So looking at Issue #1 and the mock-up provided there I believe I can add some clarification to this issue. When designing an app from a user experience perspective an often used tool is the User Persona. A persona is an imaginary person that the designer creates to represent a type of user that may be using the app. Personas often show the technical abilities and other technical restrictions that

[2017-03-30 17:03] safrin96 commented on #209
Hi, when i am trying to register an account it is giving this error.
Trying to get property of non-object in C:\xampp\htdocs\registration.php on line 111

[2017-03-30 18:13] AkankshaBodhankar commented on #7
@ReginaTL That's a great inference. It was really nice that you thought out of the box. We will take in your suggestion and discuss about it. I'll update the story soon with more details.

[2017-03-31 15:21] v786 commented on #42
Is this issue up for GSoC 2017 ? I would like to take it up if it is.

[2017-03-31 15:25] v786 opened #212 "Add CSS to make the app more user friendly and appealing to the users as well as cleaner using Bootstrap."
We can add more CSS to target content specific tags to make it more appealing and improve its responsiveness using Bootstrap as mentioned in #42.

[2017-03-31 23:48] npari commented on #42
@v786 Thats right, it is open for GSoC17. Every issue with the label **GSoC17** should be considered in your proposal.

[2017-04-01 03:52] AkankshaBodhankar commented on #212
@v786 This issue will be covered under #42 and the technologies used to make the application responsive will be decided during the GSOC period.

[2017-04-01 03:52] #212 closed

[2017-04-03 10:01] muskanbararia opened #214 "favicon missing on the site"

[2017-04-03 10:54] muskanbararia opened #216 "Unified css compostion and a single head.php file"
Instead of writing <head> .... </head> in every file, it can be written once under head.php which can be included in every file. It will make code short and more readable.

Also, instead of having different css corresponding to different files, a uniform css file can be composed.

[2017-04-03 11:20] fatimarafiqui commented on #214
@muskanbararia This is a duplicate issue. Refer #124

[2017-04-03 11:22] fatimarafiqui commented on #216
@muskanbararia I guess this also a part of #42 where the css and html files need to be minified. @AkankshaBodhankar @aparnavmenon can tell you better I guess.

[2017-04-03 17:14] muskanbararia commented on #216
@fatimarafiqui No. It require not only css file modifications but also in the php files.

[2017-04-03 17:17] muskanbararia commented on #214
@AkankshaBodhankar instead of closing this issue, you can simply add the code to link favicon. (refer my pull request #215 ) You can later on add the logo of your choice.

[2017-04-04 03:41] AkankshaBodhankar commented on #214
This is a duplicate issue. Please go through the previous issues before creating one. Also, do not sent a PR without getting approval. Read the rules of contributing in the readme file.

[2017-04-04 03:41] #214 closed

[2017-04-08 14:22] fatimarafiqui opened #218 "Implement Bcrypt Encryption for password."
While going through various encryption techniques I found that md5 is one of the weakest hashing techniques and is easily hackable. Information regarding sexual assualt, contact details of comrades are very personal and should not be compromised when it comes to security. Thus we should use bcrypt for encryption technique that is more secure and involves hashing and salting as it provides the foll

[2017-04-21 03:02] kavithaenair opened #219 "Data Toggle Validator can be added"
Issue: Feature Request

Description:
Now we don't have a toggle validator(data error should be shown to the user) when each time the user skips a field and clicks TAB and goes to other field in login and signup form.
This feature can be added as a part of Exception Handling.

[2017-04-21 03:02] kavithaenair commented on #219
I want to fix this.

[2017-04-22 16:47] yyang08 commented on #218
can i work on this?

[2017-04-22 18:42] Rupinderwadali opened #221 "Need to add validation in Add the Comrade Numbers fields"
Validation on max. numbers as well as symbol "-" and character "e"
![screenshot from 2017-04-23 00 03 51](https://cloud.githubusercontent.com/assets/12759137/25307121/445ef5fc-27b9-11e7-8217-4ecde886812d.png)

[2017-04-22 18:47] Rupinderwadali opened #222 "Text alignment Issue"
I think text start from the starting of the div instead of the center of the div. It makes more symmetry to start the text from the beginning.
![screenshot from 2017-04-23 00 14 22](https://cloud.githubusercontent.com/assets/12759137/25307187/29d2804a-27ba-11e7-8a92-71514db69f2c.png)
![screenshot from 2017-04-23 00 16 32](https://cloud.githubusercontent.com/assets/12759137/25307188/29d42e7c-27ba-1

[2017-04-26 15:42] BaaniLeen opened #223 "Installation details for Mac OS X Users"
@AkankshaBodhankar Can I incorporate the instructions in the Readme file about the installation of the First Aide Web App for Mac OS X users to complete the installation guidelines for Windows, Linux as well as Mac OS X? :)
Thanks..!

[2017-05-04 20:20] MehaKaushik commented on #223
Yes, it works for me, I use Linux and I believe @AkankshaBodhankar was using windows (since she used windows styled path naming, somewhere in readme) when she created this. In my opinion, it would work for Mac OS X as well, since xampp server, google recaptcha and Twilio all are compatible with it(as a matter of fact, all of these OS are).  Try it, let us know if you face any issues.

[2017-05-05 02:55] BaaniLeen commented on #223
Sure @MehaKaushik  :)

[2017-05-05 09:49] MehaKaushik commented on #219
@kavithaenair, sorry for the delay in reply. If you are still interested in fixing this, you can go ahead.

[2017-05-05 11:28] #119 closed

[2017-05-05 11:30] #117 closed

[2017-05-10 07:39] AkankshaBodhankar commented on #221
@Rupinderwadali This is a duplicate issue. #23

[2017-05-10 07:39] #221 closed

[2017-05-10 07:39] AkankshaBodhankar commented on #218
@fatimarafiqui I'm adding this task to GSOC 17.

[2017-05-10 07:41] AkankshaBodhankar commented on #208
@fatimarafiqui Sure

[2017-05-10 07:42] AkankshaBodhankar commented on #179
@fatimarafiqui Yes

[2017-05-10 07:43] AkankshaBodhankar commented on #91
@Dhara159 Are you working on this?

[2017-05-10 07:46] AkankshaBodhankar commented on #222
@Rupinderwadali This is a valid issue. Go ahead with it.

[2017-05-10 14:01] Dhara159 commented on #91
yup. I have completed this task and made a PR. but by mistake PR has been closed by me. I have added the preview. Can you please tell me is that okay or should I do some changes @AkankshaBodhankar

[2017-05-10 15:13] Dhara159 commented on #91
Here is the link of PR :https://github.com/systers/FirstAide-web/pull/162

[2017-05-17 03:22] AkankshaBodhankar commented on #163
@Dhara159 Are you still  interested in working on this?

[2017-05-17 03:22] AkankshaBodhankar commented on #175
@shreyans29 Are you still interested in working on this?

[2017-05-17 03:36] AkankshaBodhankar commented on #218
@fatimarafiqui For the current app, the data we have is not very sensitive. The md5 we are using to encrypt will suffice for now. so, I'm closing this issue.

[2017-05-17 03:36] #218 closed

[2017-05-17 03:38] AkankshaBodhankar commented on #70
@VictorAlagwu Are you working on this?

[2017-05-17 04:05] Dhara159 commented on #163
yes, @AkankshaBodhankar. I want to work on the problem. As of now, my external university examination is going on. So, is that okay if I will continue working on the project after 24th May?

[2017-05-17 04:18] VictorAlagwu commented on #70
was working on it until my laptop got stolen, so for now No i am not
working on it

On 5/17/17, AkankshaBodhankar <notifications@github.com> wrote:

--
Victor Alagwu
+234(817)-044-9567
www.victoralagwu.me
www.github.com/VictorAlagwu
www.linkedin.com/in/victor-alagwu-08416b94/

[2017-05-17 04:48] npari commented on #70
Sorry to hear that @VictorAlagwu. Would you like to work on this at a later time?

[2017-05-17 07:03] MehaKaushik commented on #216
@muskanbararia, can you explain how this issue would not be covered by #42  ? #42 will involve minifying css and html/php files.

[2017-05-17 07:08] MehaKaushik commented on #223
I am closing this issue now, additionally, during GSoC'17 we would be coming up with a more detailed readme, in which this too will be taken care of.

[2017-05-17 07:09] #223 closed

[2017-05-17 07:11] MehaKaushik commented on #219
@kavithaenair are you still interested in working on this?

[2017-05-17 07:17] kavithaenair commented on #219
@mehakaushik you can take this up. :)

[2017-05-17 07:35] fatimarafiqui commented on #218
@AkankshaBodhankar Okay.

[2017-05-17 08:05] AkankshaBodhankar commented on #219
@kavithaenair @MehaKaushik is also one of the mentors for this project. She was asking if you are working on it right now or not.

[2017-05-17 08:13] kavithaenair commented on #219
Oh sorry am new to this organisation. Am not working on it.

[2017-05-17 13:00] shreyans29 commented on #175
Hi, I am little bit busy with learning technologies for PC prep Kit. I will resolve this as soon as I am done with it but it might take some time.

[2017-05-17 22:09] VictorAlagwu commented on #70
I am not sure of the time I would get a new laptop,so someone else can do it

On 5/17/17, Nithya Pari <notifications@github.com> wrote:

--
Victor Alagwu
+234(817)-044-9567
www.victoralagwu.me
www.github.com/VictorAlagwu
www.linkedin.com/in/victor-alagwu-08416b94/

[2017-05-18 11:53] AkankshaBodhankar commented on #175
Alright.

On Wed, May 17, 2017 at 6:30 PM, Shreyans Shrimal <notifications@github.com>
wrote:

[2017-05-18 11:54] AkankshaBodhankar commented on #219
That's okay :-). This issue will be kept as free.

On Wed, May 17, 2017 at 1:43 PM, Kavitha E Nair <notifications@github.com>
wrote:

[2017-05-18 11:55] AkankshaBodhankar commented on #70
Okay no problem.

On Thu, May 18, 2017 at 3:39 AM, Victor Alagwu <notifications@github.com>
wrote:

[2017-05-18 11:58] AkankshaBodhankar commented on #163
That will be alright :-)

[2017-05-18 11:59] AkankshaBodhankar commented on #203
@kamsuri Yes this issue is valid. Are you working on it?

[2017-05-18 11:59] AkankshaBodhankar commented on #222
@Rupinderwadali Are you working on this?

[2017-05-20 13:44] AkankshaBodhankar commented on #175
@shreyans29 As you will be working on another project. The issues you have created in this project will be open for contribution.

[2017-05-20 13:56] AkankshaBodhankar commented on #26
On hold till we get the list of all the countries.

[2017-05-20 13:57] #7 closed

[2017-05-20 13:58] AkankshaBodhankar commented on #13
Resolved in #18

[2017-05-20 13:58] #13 closed

[2017-05-26 19:31] #177 closed

[2017-05-26 21:04] Dhara159 commented on #163
I have solved the problem. Here is the working example.
![data](https://cloud.githubusercontent.com/assets/12209363/26512614/fa97ed2a-4284-11e7-899d-6495eeef8090.gif)

Is it okay?

[2017-05-27 05:13] #168 closed

[2017-05-27 05:34] npari commented on #166
@fatimarafiqui Lets get this done here: https://github.com/systers/FirstAide-web/wiki

[2017-05-27 06:23] fatimarafiqui commented on #222
@Rupinderwadali Please update us if you are still interested in working on this.

[2017-05-27 11:29] fatimarafiqui commented on #163
@Dhara159 This looks good. Kindly send a PR with the correct changes. Cheers!

[2017-05-27 12:28] MehaKaushik commented on #163
Seems good to me, but @fatimarafiqui please do not merge any changes, let two people review it first, then we would go ahead with merging this with master.

[2017-05-28 13:54] Dhara159 commented on #163
I have updated my branch and now it is up to date with the develop. I have created the PR for this issue. [226](https://github.com/systers/FirstAide-web/pull/226) is the id of PR.

[2017-05-28 15:33] Dhara159 commented on #91
@AkankshaBodhankar I have added the new PR for this issue. #227 is the id of new PR

[2017-05-30 07:17] AkankshaBodhankar commented on #84
Will be done under recommendation systems.

[2017-05-30 07:19] AkankshaBodhankar commented on #26
Add the countries listed in #11

[2017-05-30 07:23] AkankshaBodhankar commented on #26
The PR in progress for this #66

[2017-05-30 07:23] AkankshaBodhankar commented on #71
Will be done during the deployment of the app.

[2017-06-05 15:02] AkankshaBodhankar commented on #203
Due to no response for more than 15 days this will be an open issue.

[2017-06-05 15:03] AkankshaBodhankar commented on #222
Due to no response by @Rupinderwadali for more than 15 days. This can be done under responsiveness part of GSOC17.

[2017-06-05 15:05] AkankshaBodhankar commented on #216
This issue will be covered under #11 and after restructuring of the app this won't be necessary. Also, there has been no response from @muskanbararia for more than 2 months.

[2017-06-05 15:05] #216 closed

[2017-06-05 15:10] AkankshaBodhankar commented on #58
Will be covered under #166

[2017-06-05 15:10] #58 closed

[2017-06-06 06:59] #91 closed

[2017-06-06 10:26] AkankshaBodhankar commented on #163
Done

[2017-06-14 03:35] #106 closed

[2017-06-14 03:41] prathmeshranaut commented on #179
@fatimarafiqui Please include the code to automatically set the collation at the time of database creation in the `first aide_web.sql` script.

[2017-06-14 04:56] fatimarafiqui commented on #179
okay. This will be done in the next pR

[2017-06-14 05:28] AkankshaBodhankar commented on #222
Done in #231

[2017-06-14 05:28] #222 closed

[2017-06-14 05:28] AkankshaBodhankar commented on #219
Done in #231

[2017-06-14 05:28] #219 closed

[2017-06-14 06:14] fatimarafiqui commented on #175
@AkankshaBodhankar @prathmeshranaut @MehaKaushik  @npari This is also done as a part of MVT. We can close it.

[2017-06-14 06:15] AkankshaBodhankar commented on #175
Done in #231

[2017-06-14 06:15] #175 closed

[2017-06-14 06:16] AkankshaBodhankar commented on #203
@fatimarafiqui Is this taken care of during restructuring?

[2017-06-14 06:17] fatimarafiqui commented on #203
This will be done after the session management is incorporated. This must be kept open for now.

[2017-06-14 06:17] fatimarafiqui commented on #174
@AkankshaBodhankar @MehaKaushik @prathmeshranaut @npari This is also covered in Login/Signup Responsiveness.

[2017-06-14 06:17] AkankshaBodhankar commented on #203
Okay

On Wed, Jun 14, 2017 at 11:47 AM, Fatima Rafiqui <notifications@github.com>
wrote:

[2017-06-14 06:18] fatimarafiqui commented on #172
@AkankshaBodhankar @npari @prathmeshranaut @MehaKaushik This is also complete.

[2017-06-14 06:19] AkankshaBodhankar commented on #172
Done

[2017-06-14 06:19] #172 closed

[2017-06-14 06:19] #174 closed

[2017-07-08 18:10] fatimarafiqui commented on #42
@MehaKaushik @npari @prathmeshranaut This has been covered in GSoC'17 Phase I

[2017-07-08 18:12] fatimarafiqui commented on #192
This has been covered in GSoC'17 Phase I. @MehaKaushik @prathmeshranaut @npari

[2017-07-08 18:13] fatimarafiqui commented on #100
This has been covered in GSoC Phase I @MehaKaushik @npari @prathmeshranaut

[2017-07-09 08:44] MehaKaushik commented on #203
@fatimarafiqui This is done right ??

[2017-07-09 08:45] MehaKaushik commented on #42
Closing this issue, since it is covered by @fatimarafiqui

[2017-07-09 08:45] #42 closed

[2017-07-09 08:49] MehaKaushik commented on #192
Thank you @fatimarafiqui for completing this.

[2017-07-09 08:49] #192 closed

[2017-07-09 08:53] MehaKaushik commented on #84
@fatimarafiqui what is the status for this issue? From what I remember, it is covered, please correct me if I am wrong.

[2017-07-09 08:53] MehaKaushik commented on #100
Thanks @fatimarafiqui :+1:

[2017-07-09 08:53] #100 closed

[2017-07-09 13:25] MehaKaushik commented on #59
This is a beginner task, for anyone who is interested in contributing to the community, this is a good start.

[2017-07-09 13:26] MehaKaushik commented on #179
May I please know @fatimarafiqui if this is done ?

[2017-07-09 13:27] MehaKaushik commented on #171
@fatimarafiqui may I know the status of this issue ?

[2017-07-09 13:28] MehaKaushik commented on #96
@fatimarafiqui we have covered this right ? Please correct me if I am wrong.

[2017-07-09 15:34] fatimarafiqui commented on #84
@MehaKaushik Yes, this is no longer relevant

[2017-07-09 15:34] fatimarafiqui commented on #203
@MehaKaushik Yes, Its done

[2017-07-09 16:17] fatimarafiqui commented on #96
@MehaKaushik No this is a part of settings page.

[2017-07-09 16:18] fatimarafiqui commented on #171
@MehaKaushik This is not a valid issue now. We do not have a username now as discussed in the meeting, only the Users' name would suffice.

[2017-07-09 16:23] fatimarafiqui commented on #179
@MehaKaushik This is done.

[2017-07-09 17:25] MehaKaushik commented on #179
Thanks @fatimarafiqui

[2017-07-09 17:25] #179 closed

[2017-07-09 17:27] MehaKaushik commented on #171
Great :D thanks

[2017-07-09 17:27] #171 closed

[2017-07-09 17:27] #84 closed

[2017-07-09 17:28] MehaKaushik commented on #96
Yes, this is covered in settings section. Thanks

[2017-07-09 17:28] #96 closed

[2017-07-09 17:29] MehaKaushik commented on #203
Thanks

[2017-07-09 17:29] #203 closed

[2017-07-18 02:40] #79 closed

[2017-07-18 02:44] npari commented on #70
@MehaKaushik Is this issue still required?

[2017-07-18 02:44] npari commented on #59
@MehaKaushik Is this a duplicate?

[2017-07-18 02:45] npari commented on #26
@MehaKaushik Is this still relevant?

[2017-07-18 02:48] npari commented on #22
@MehaKaushik Is this a duplicate?

[2017-07-18 02:48] npari commented on #11
@MehaKaushik Is this still relevant or can this be closed?

[2017-07-18 19:14] ihsavru commented on #59
Hi, can i take up circleOfTrustMessage.js?

[2017-07-19 07:10] fatimarafiqui commented on #209
@npari @MehaKaushik This is covered and it should be closed.

[2017-07-19 07:11] fatimarafiqui commented on #163
@npari @MehaKaushik This has already been covered, therefore the issue needs to be closed.

[2017-07-19 07:14] fatimarafiqui commented on #26
@npari No, This issue is no longer relevant as we are saving the country and country codes at signup.

[2017-07-20 22:30] #209 closed

[2017-07-24 18:17] MehaKaushik commented on #11
No more relevant, closing it.

[2017-07-24 18:17] #11 closed

[2017-07-24 18:17] #26 closed

[2017-07-24 18:19] MehaKaushik commented on #59
@npari No this is not a duplicate. The other issue is for css files.
Hi, @ihsavru Thankyou for your interest. We would be more than happy to see you contribute, please go ahead and get in touch with any of @fatimarafiqui @npari and me, in case of doubts.
Please push your work on  a separate branch and send a PR once done.

[2017-07-24 18:20] MehaKaushik commented on #22
No, the other one is for javascript files.

[2017-07-24 18:23] #71 closed

[2017-07-24 18:23] #163 closed

[2017-07-26 12:06] fatimarafiqui opened #253 "Travis Build Failure due to OS Distribution."
The Travis builds are failing due on systers repo while it works fine on mine.

<img width="952" alt="screen shot 2017-07-26 at 17 31 47" src="https://user-images.githubusercontent.com/13470643/28619918-5f380fb2-7228-11e7-8365-40d8ebefd5b9.png">

<img width="952" alt="screen shot 2017-07-26 at 17 33 21" src="https://user-images.githubusercontent.com/13470643/28619974-97224bd6-7228-11e7-9811-2b0e89

[2017-07-26 12:06] fatimarafiqui commented on #253
@npari @prathmeshranaut @MehaKaushik  Please have a look at this.

[2017-08-01 04:40] #199 closed

[2017-08-01 06:05] #253 closed, assigned to nobody

[2017-08-02 17:20] MehaKaushik opened #256 "[Feature] Email Verification"
Description:
Email ids in the database need to be validated. This has to be implemented by sending a computer generated email to every email id in the database. The user validates his email id by clicking on the computer generated link that has been mailed to the user.

Mocks:
N/A

Content:
N/A

Acceptance Criteria
1. PSR2 Enforcement
2. Invalid/fake email ids should get flagged.
3. Block Comments

[2017-08-02 17:22] MehaKaushik opened #257 "[FEATURE] Add user profile picture in settings"
Description:
The user should have option to add a profile picture. The user can upload the profile picture in the update user details page. The profile picture must be displayed beside the username in the menu.

Acceptance Criteria
1. PSR2 enforcement
2. The user should be able to update profile picture and the picture should be displayed in the menu beside username.
3. Post a gif of the functiona

[2017-08-02 17:32] MehaKaushik opened #258 "[Feature] Design and development of User Recommendation System"
Description:
Design a recommendation system front end for users based on their previous activities and suggest them various pages. The UI should be similar to current application pages.
Once a UI is designed and approved by admins, we can go ahead with implementing the same.

**Acceptance Criteria for the UI mocks :**
1. good user experience
2. In accordance, with current UI of the application.
3.

[2017-08-02 17:37] MehaKaushik opened #259 "[Feature] Get Help Now : Calling functionality"
Description :

Currently, Get Help Now page, can only send SMS notifications. We aim to incorporate the calling feature as well.

Task would involve two sub tasks, as UI is already designed and implemented :
2. Code the backend
3. code the AJAX handlers for the same

Acceptance criteria:
1. PSR2
2. Comments
3. Testing
4. GIF of functionality to be posted here

[2017-08-30 07:30] fatimarafiqui opened #275 "[Testing] JavaScript testing for multi_card.js"
**Description**: Write tests for multi_card.js with maximum possible coverage of methods. Restructure the js file, if required to make it testable.

**Link to file**: [multi_card.js](https://github.com/systers/FirstAide-web/blob/develop/js/multi_card.js)

**Acceptance criteria**
- Block Comments
- Screenshot to illustrate all tests have passed
- Reference the issue number in the corresponding pull

[2017-08-30 07:33] fatimarafiqui opened #276 "[DOCUMENTATION] Setup Github Pages"
**Description**: Setup the GitHub pages for the repository. It should reflect all the contents in the README and Wiki section.

**Acceptance Criteria**:
- It should have all the content from wiki and readme section
- Link to be posted under the issue below.

[2017-08-30 07:34] fatimarafiqui opened #277 "Master Branch Update"
**Description**
 The master branch needs to be updated and brought in sync with the develop branch.

**Acceptance Criteria**
- The develop and master branch should be brought in sync with each other

[2017-08-30 07:39] fatimarafiqui opened #278 "[Infrastructure] FirstAide Web - Versioning System"
**Description:**
We need to implement a release mechanism with versioning. So far we have not had any releases with a version number. Going forward this needs to be setup.

**Here are some links to help you understand this:**
https://help.github.com/articles/creating-releases/
http://semver.org/

**Acceptance Criteria**
- With each update in the repository, the version number should get updated
-

[2017-08-30 07:43] #59 closed

[2017-08-30 07:44] fatimarafiqui commented on #22
This is done.

[2017-08-30 07:44] #22 closed

[2017-08-30 08:47] fatimarafiqui commented on #208
Updated in the wiki section

[2017-08-30 08:47] #208 closed

[2017-08-30 08:48] fatimarafiqui commented on #166
This has been covered in the wiki section.

[2017-08-30 08:48] #166 closed

[2017-08-30 08:49] #70 closed

[2017-08-30 08:49] fatimarafiqui commented on #70
This issue is no longer valid.

[2017-08-30 08:54] fatimarafiqui opened #281 "[Feature] Forget Password"
**Description**
Allow the users to recover their account in case they forget the password.

**Acceptance Criteria**
- Use Semantic UI
- Block Comments to be included in the files
- PSR2 standards enforcement
- Responsiveness
- Post a gif to illustrate the functionality
- Reference the issue in the PR

[2017-08-30 08:56] fatimarafiqui opened #282 "[Infrastructure] Deployment of application on Heroku"
**Description**
The app needs to be deployed on Heroku and steps for the same should be included in the wiki section.

**Acceptance Criteria**
- Post the link to the deployed application
- Update the wiki with the steps of deployment

[2017-08-31 14:50] Dhara159 commented on #281
Can I take this issue?

[2017-08-31 16:29] fatimarafiqui commented on #281
Sure @Dhara159, you can go ahead. Please make sure that the code adheres to the guidelines mentioned in the wiki section.

[2018-01-30 15:41] apoorvaagupta commented on #276
Hello, Is this issue available? May I take it up if no one else is working!

[2018-01-30 15:47] prachi1210 commented on #276
Hi @apoorvaagupta, work on this repository is on pause pending communication with Peace Corps. It is currently an archived project. You can work on this issue on your own fork. Your contributions will be still recognised.

[2018-04-20 00:26] mayburgos opened #287 "Wiki Sidebar Update"
## Description
As a newcomer,
I need to navigate the repo successfully,
so that I can understand where the project is in its development.

## Mocks
![screen shot 2018-04-19 at 3 47 20 pm](https://user-images.githubusercontent.com/2440938/39014663-06dcb230-43e9-11e8-997c-96a89b7c55e8.png)

## Acceptance Criteria
### Update [Required]
- [ ] Update to [the template](https://docs.google.com/document/d

[2018-05-11 06:29] Saichethan commented on #287
@MeepyMay can I work on this